<div class="section-five">
  <div class="fast-food-pizza-pepper-tomatoe">
    <img src="./assets/Image 4.png" alt="" />
  </div>

  <div class="lorem-app-main-div">
    <p class="lorem-app">Lorem App</p>
    <p class="download-the-lorem-a">Download the Lorem App</p>
    <p class="get-real-time-order-copy1">
      Get real-time order updates, live chat support,
    </p>
    <p class="get-real-time-order-copy2">and exclusive app-only offers.</p>

    <div class="button-flex">
      <div class="button-flex1"> <img src="./assets/Button - App Store.png" alt="" /></div>
      <div class="button-flex2"><img src="./assets/Button - Play Store.png" alt="" /></div>
    </div>
  </div>

  <div class="i-phone-x ">
    <img src="./assets/iphone.png" alt="" />
  </div>

  <div class="fill-1-copy">
    <img src="./assets/Fill 1 Copy.png" alt="" />
  </div>
</div>
