<app-header></app-header>
<app-navbar></app-navbar>

<div class="people-character-data">
  <div><span>DARTH VADER</span></div>
  <div><span>LUKE SKYWALKER</span></div>
  <div><span>OBI-WAN KENOBI </span></div>
  <div><span routerLink="/vehicles-details">YODA</span></div>
  <div><span>REY</span></div>
  <div><span>DARTH VADER</span></div>
  <div><span>LUKE SKYWALKER</span></div>
  <div><span>OBI-WAN KENOBI </span></div>
  <div><span>YODA</span></div>
  <div><span>REY</span></div>
</div>

<div class="button">
  <button class="btn1">PREVIOUS</button>
  <button class="btn2">NEXT</button>
</div>

<app-footer></app-footer>

