<div>
  <app-header></app-header>
  <div class="starwar-icon">
    <div class="films-icon-div">
      <img  class="films-icon" src="./assets/films_normal.png" alt="">
      <p class="films">FILMS</p>
    </div>
    <div class="films-icon-div">
      <img  class="species" src="./assets/species_normal.png" alt="">
      <p class="films">SPICIES</p>
    </div>
    <div class="films-icon-div">
      <img  class="planets" src="./assets/planets_normal.png" alt="">
      <p class="films">PLANETS</p>
    </div>
    <div class="films-icon-div" routerLink="/people-character">
      <img class="characters" src="./assets/characters_normal.png" alt="">
      <p class="films">CHARACTER</p>
    </div>
    <div class="films-icon-div">
      <img  class="starship" src="./assets/vehicles_normal.png" alt="">
      <p class="films">STARSHIP</p>
    </div>
    <div class="films-icon-div">
      <img class="vehicles" src="./assets/droids_normal.png" alt="">
      <p class="films">VEHICLES</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
