.starwar-icon {
  height: auto;
  width: 40%;
  margin: auto;
  margin-top: 87px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  column-gap: 70px;
}

.films-icon,
.species ,
.planets ,
.characters ,
.starship ,
.vehicles  {
  width:110%;
  /* height: 100px; */
}


.films {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: white;
  /* text-align: center; */
}
.films-icon-div{
  width:120px;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 700px) {
  .starwar-icon {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }


  
}
