<div class="rectangle">
  <div class="container">
    <!-- header start -->
    <div class="row m-0 pt-4">
      <div class="col-12 col-md-6 p-0 d-flex align-items-center img-icon">
        <img src="./assets/logo_web.png " alt="" />
      </div>

      <!-- search bar -->
      <div class="col-12 col-md-6 p-0 search-input">
        <div class="serach-city">
          <input type="text" placeholder="Search city" />
          <mat-icon matPrefix class="serach-bar">search</mat-icon>
        </div>
      </div>
    </div>
    <!-- header end -->

    <div class="row m-0 mt-5 relative">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100">
            <li class="nav-item pl-0 ">
              <a class="nav-link" routerLink="/weather-home">HOME <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link link-active" routerLink="/favourite">FAVOURITE <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/recent-serach">RECENT SEARCH <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ms-auto">
              <a class="nav-link" href="#">
                {{ date | date: "E" }},{{
                date | date: "mediumDate"
                }}&nbsp;&nbsp;{{ date | date: "shortTime" }}
                <span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="line-copy position"></div>
    </div>

    <!-- nothing image -->
    <!-- <div class="row">
      <div
        class="col-12 d-flex justify-content-center align-items-center nothing"
      >
        <img src="./assets/icon_nothing.png" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <p class="No-favourite-added">No Favourites added</p>
      </div>
    </div> -->
    <!-- nothing end -->
    <!-- nothing image -->
    <div class="row" *ngIf="favCity.length<=0">
      <div class="col-12 d-flex justify-content-center align-items-center nothing">
        <img src="./assets/icon_nothing.png" alt="" />
      </div>
    </div>

    <div class="row" *ngIf="favCity.length<=0">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <p class="No-favourite-added">No Favourites added</p>
      </div>
    </div>
    <!-- nothing end -->
    <div class="city-added-remove" *ngIf="favCity.length>0">
      <div>
        <p class="city-added-text" *ngIf="favCity">{{favCity.length}} City added as favourite</p>
      </div>
      <div>
        <p class="city-added-text" data-toggle="modal" data-target="#exampleModal">Remove All</p>
      </div>
    </div>

    <div style="overflow-x: auto">
      <table class="main-table">
        <tr *ngFor="let city of favCity">
          <td class="table-location">{{city.name}},Karnataka</td>
          <td class="related-img">
            <img src="./assets/icon_mostly_sunny_small.png" alt="" />
          </td>
          <td>
            <span class="related-deg">{{(city?.main.temp -273.15).toFixed(0)}}&#176;</span><span
              class="cel-faren">C</span>
            <span class="related-msg">Mostly Sunny</span>
          </td>

          <!-- <td class="related-fav"><i class="bi bi-heart"></i></td> -->
          <i class="bi bi-heart-fill relative fillIcon">

          </i>
        </tr>
      </table>
    </div>
  </div>
</div>


<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-none">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="are-you-sure-text">
          Are you sure want to remove all the favourites?
        </div>
      </div>
      <div class="modal-footer border-none">
        <button type="button" class="btn btn-secondary " class="no-button" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" class="yes-button" data-dismiss="modal"
          (click)="removeFav()">Yes</button>
      </div>
    </div>
  </div>
</div>