<app-header></app-header>
<app-navbar></app-navbar>

<div class="people-detail-maindiv1">
<div class="people-detail-maindiv2">
  <div class="img-div"><img src="./assets/yodhaimage.jpg" alt="" id="yoda-size"></div>
  <div class="detail-div">
   <h1 class="heading-name">YODA</h1>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>
   <span>Designation:Sentient</span>


   




  </div>
</div>
</div>

<app-footer></app-footer>
