.result-header {
  width: 100%;
  background: #092963;
  height: 186px;
}
.header-part{
  padding-bottom: 35px;
}

.margin-auto-first {
  width: 85%;
  /* border: 1px solid red; */
  margin: auto;
}

.module-tt {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 10px;
}

.margin-auto-scnd {
  width: 38%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 34px;
  position: relative;
  left: 32px;
  display: flex;
  justify-content: space-between;
  column-gap: 23px;
}

.eight {
  width: 97px;
  height: 82px;
  background: #fac768;
  border-radius: 4px;
}

.eighty {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
}

.set-up {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  white-space: nowrap;
}

.ler-fig {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  white-space: nowrap;
}

.quiz-board {
  width: 100%;
  height: 90px;
  /* background: #f0d7d7; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.quiz-inside {
  width: 326px;
  height: 72px;
  background: white;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-left: 23px;
  padding-right: 23px;
  column-gap: 29px;
}

.left-eight {
  width: 81%;
}

.margin-auto-thrd {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
}

.result-status-div {
  display: flex;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
  justify-content: space-between;
  background-color: white;
  margin-top: 28px;
  height: 63px;
  align-items: center;
}

.quiz-div {
  width: 49%;
  position: relative;
  margin: auto;
  left: 7%;
}

.cor {
  color: green;
  margin-top: 5px;
}

.red {
  color: red;
  margin-top: 5px;
}

.pass-grade {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  white-space: nowrap;
}

.gra {
  font-family: "Proxima Nova Sof";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2bb5f4;
}

.quiz-board-mobile {
  display: none;
}

.lis-of {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #111111;
  margin-top: 38px;
}

.ques {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #111111;
}

@media only screen and (max-width: 800px) {
  .margin-auto-scnd {
    width: 66%;
    margin: auto;
    margin-top: 34px;
    position: relative;
    left: 32px;
    display: flex;
    justify-content: space-between;
    column-gap: 23px;
  }
}

@media only screen and (max-width: 700px) {
  .margin-auto-scnd {
    width: 88%;
    margin: auto;
    margin-top: 34px;
    position: relative;
    left: 32px;
    display: flex;
    justify-content: space-between;
    column-gap: 23px;
  }

  .quiz-inside {
    width: 326px;
    height: 72px;
    background: white;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-left: 23px;
    padding-right: 23px;
    column-gap: 29px;
  }

  .quiz-board {
    display: none;
  }

  .quiz-board-mobile {
    display: block;
    width: 88%;
    margin: auto;
  }

  .quiz-inside-mobile {
    width: 398px;
    height: 72px;
    background: white;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-left: 23px;
    padding-right: 23px;
    column-gap: 29px;
    position: relative;
    left: 31px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 570px) {
  .margin-auto-scnd {
    width: 85%;
    margin: auto;
    margin-top: 34px;
    position: relative;
    left: 0px;
    display: flex;
    justify-content: space-between;
    column-gap: 0px;
  }

  .quiz-inside-mobile {
    width: 300px;
    height: 72px;
    background: white;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-left: 23px;
    padding-right: 23px;
    column-gap: 29px;
    position: relative;
    left: 31px;
    margin-top: 15px;
  }

  .eight {
    width: 77px;
  }

  .left-eight {
    width: 77%;
  }

  .result-header {
    width: 100%;
    background: #092963;
    height: 224px;
  }
}