.main {
  margin: auto;
  width: 80%;
  height: auto;
  min-height: 1000px;
  border: 1px solid red;
  margin-top: 30px;
}
.main-main {
  overflow-y: auto;
  height: 860px;
}
.hello {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #7a7a7a;
}
.mahendra {
  font-family: "Biko";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 50px;
  color: #092963;
}

/* top header  first row */
.first-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 28px;
}
.banner {
  position: relative;
  width: 100%;
}
.course-name {
  position: absolute;
  bottom: 1%;
  left: 9%;
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
}
.banner img {
  width: 100%;
  border-radius: 4px;
}

.first-dot,
.second-dot,
.third-dot {
  width: 8px;
  height: 8px;
  background: #ee5c4d;
  border-radius: 10px;
}
.second-dot,
.third-dot {
  background: #ee5c4d;
  opacity: 0.2;
}

.dots-div {
  width: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

/* second row  */
.ongoing-and-seeall {
  display: flex;
  justify-content: space-between;
}
.ongoing-course {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  /* identical to box height, or 208% */

  color: #000000;
}
.see-all {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: right;
  color: #7a7a7a;
  cursor: pointer;
}

.second-row {
  /* border: 1px solid red;
  display: flex;
  width: 100%;
  gap: 35px;
  overflow-x: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 28px;
  grid-row-gap: 13px;
}
.banner-two {
  position: relative;
  width: 100%;
  /* padding-bottom: 10px; */
  /* width: 400px; */
}
.banner-two img {
  width: 100%;
  border-radius: 4px;
}

.second-row-inside {
  display: flex;
  justify-content: space-around;
  margin-top: -70px;
}
.second-left {
  display: flex;
  flex-direction: column;
}
.art {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #ffffff;
}
.chapt {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.second-right {
  width: 93px;
  height: 32px;
  background: #ec5d52;
  border-radius: 4px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 11px;
}
.second-right p {
  padding-top: 7px;
}

/* third row  */
.third-row {
  grid-row-gap: 31px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  border: 1px solid red;
  grid-column-gap: 28px;
}
.category-types-div {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.fit-content{
  width: fit-content;
}
/* .banner-second-row {
  display: flex;
  justify-content: space-between; */
/* } */
/* .left-content-div {
  display: flex;
  flex-direction: column;
} */
/* .art {
  position: absolute;
  left: 1%;
  bottom: 7%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  color: #ffffff;
} */
/* .chapter-count {
  position: absolute;
  left: 1%;
  top: 81%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  color: #ffffff;
} */
/* .continue-button {
  width: 119.52px;
  height: 36px;
  background: #ec5d52;
  border-radius: 4px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  left: 1%;
  top: 81%;
}

.ongoing-course {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  color: #000000;
} */

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  /* display: none; */
}
/* ::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
} */

/* ::-webkit-scrollbar-thumb:vertical {
  display: none;
} */

/* ::-webkit-scrollbar-track {
  display: none;
} */
