<app-header></app-header>
<div class="main-main">
  <div class="main">
    <div class="hello">Hello!</div>
    <div class="mahendra">Mahendra Singh Dhoni</div>
    <!-- first row  -->
    <div class="first-row">
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
    </div>

    <div class="dots-div">
      <div class="first-dot"></div>
      <div class="second-dot"></div>
      <div class="third-dot"></div>
      <div class="third-dot"></div>
    </div>

    <!-- second row  -->
    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Ongoing courses</div>
      <div class="see-all">See All</div>
    </div>

    <div class="second-row">
      <div class="banner-two">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">Art & Illustration</p>
            <p class="chapt">15/20 Chapters</p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
      <div class="banner-two">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">Art & Illustration</p>
            <p class="chapt">15/20 Chapters</p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
      <div class="banner-two">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">Art & Illustration</p>
            <p class="chapt">15/20 Chapters</p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
    </div>

    <!-- third row  -->
    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Categories</div>
      <div class="see-all">See All</div>
    </div>
    <div class="third-row">
      <div class="category-types-div">
        <div><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content">Design</div>
      </div>
      <div class="category-types-div">
        <img src="./assets/pen.png" alt="" />
      </div>
      <div class="category-types-div">
        <img src="./assets/pen.png" alt="" />
      </div>
      <div class="category-types-div">
        <img src="./assets/pen.png" alt="" />
      </div>
      <div class="category-types-div">
        <img src="./assets/pen.png" alt="" />
      </div>
      <div class="category-types-div">
        <img src="./assets/pen.png" alt="" />
      </div>
      <div class="category-types-div">
        <img src="./assets/pen.png" alt="" />
      </div>
    </div>

    <div class="ongoing-course">Choice your course</div>

    <div class="first-row">
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
    </div>

    <div class="ongoing-course">Top courses in Business</div>
    <div class="first-row">
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
    </div>

    <div class="ongoing-course">Top courses in Design</div>
    <div class="first-row">
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
    </div>
  </div>
</div>
