<app-header></app-header>
<div class="main-main">
  <div class="main">
    <div class="hello">Hello!</div>
    <div class="mahendra">{{ fullname?.fullName }}</div>
    <!-- first row  -->

    <div class="first-row">
      <div class="banner" *ngFor="let bb of userheader">
        <img src="{{ bb.courseImage }}" alt="" />
        <p class="course-name">{{bb.courseTitle}}</p>
      </div>

      <!-- <mat-icon class="label-impone">label_important</mat-icon>
      <mat-icon class="label-imptwo">label_important</mat-icon> -->
    </div>
    <button (click)="nextpage()">next</button>
    <button (click)="prevpage()">preview</button>

    <div class="dots-div">
      <div class="first-dot"></div>
      <div class="second-dot"></div>
      <div class="third-dot"></div>
      <div class="third-dot"></div>
    </div>

    <!-- second row  -->
    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Ongoing courses</div>
      <div class="see-all" routerLink="/ogoing">See All</div>
    </div>
    <div class="second-row">
      <div
        class="banner-two"
        *ngFor="let userscnd of usersecond"
        (click)="gotoOverView(userscnd.courseId)"
      >
        <img src="{{ userscnd.url }}" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">{{ userscnd.title }}</p>
            <p class="chapt">
              {{ userscnd.totalChapters }}/{{ userscnd.totalLessons }} Chapters
            </p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
    </div>

    <!-- third row  -->
    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Categories</div>
      <div class="see-all">See All</div>
    </div>
    <div class="third-row">
      <div class="category-types-div" *ngFor="let thirdrow of serachcatt">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content">
          <p>{{ thirdrow }}</p>
        </div>
      </div>
    </div>

    <!-- fourth row  -->

    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Choice your course</div>
      <div class="see-all">See All</div>
    </div>
    <div class="all-pop-new-flex">
      <div
        class="all-fourt"
        (click)="function('All')"
        (click)="one()"
        value="All"
        id="btn1"
        [ngClass]="active1"
      >
        All
      </div>
      <div
        class="popular-fourth"
        (click)="function('Popular')"
        value="Popular"
        id="btn2"
        [ngClass]="active2"
        (click)="two()"
      >
        Popular
      </div>
      <div
        class="new-fourth"
        (click)="function('Newest')"
        value="Newest"
        id="btn3"
        [ngClass]="active3"
        (click)="three()"
      >
        Newest
      </div>
    </div>

    <div class="fourth-row">
      <div class="banner-four" *ngFor="let pop of allCourses">
        <img src="{{ pop.courseImage }}" alt="" />
        <div class="second-row-inside-four">
          <div class="fourth-left"></div>
          <!-- <div class="fourth-right"> -->
          <p class="fourth-right">{{ pop.category }}</p>
          <!-- </div> -->
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            {{ pop.courseTitle }}
          </p>
          <p class="scnd-below-content-four">
            {{ pop.courseContent.totalChapters }} Chapters
          </p>
        </div>
      </div>
    </div>

    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Top courses in Business</div>
      <div class="see-all">See All</div>
    </div>
    <div class="fifth-row">
      <div class="banner-four" *ngFor="let userbus of userbusiness">
        <img src="{{ userbus.courseImage }}" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            {{ userbus.courseTitle }}
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">
              {{ userbus.courseContent.totalChapters }} Chapters
            </p>
            <p class="timer">
              <img src="./assets/clock@2x 1.png" alt="" /> 1:30:20
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Top courses in Design</div>
      <div class="see-all">See All</div>
    </div>
    <div class="fifth-row">
      <div class="banner-four" *ngFor="let userbuss of userdesign">
        <img src="{{ userbuss.courseImage }}" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            {{ userbuss.courseTitle }}
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">
              {{ userbuss.courseContent.totalChapters }} Chapters
            </p>
            <p class="timer">
              <img src="./assets/clock@2x 1.png" alt="" /> 1:30:20
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
