.main {
  margin: auto;
  width: 85%;
  height: auto;
  min-height: 1000px;
  /* border: 1px solid red; */
  margin-top: 30px;
}
.main-main {
  overflow-y: auto;
  height: 860px;
}
.hello {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #7a7a7a;
}
.mahendra {
  font-family: "Biko";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 50px;
  color: #092963;
  padding-bottom: 19px;
}

/* top header  first row */
.first-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 28px;
  grid-row-gap: 13px;
  /* display: flex;
  justify-content: space-between;
  column-gap: 10px; */
}
.banner {
  position: relative;
  width: 100%;
}
.course-name {
  position: absolute;
  bottom: 1%;
  left: 9%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
}
.banner img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  filter: brightness(82%);
}
.activeC {
  opacity: 1 !important;
}
.first-dot,
.second-dot,
.third-dot {
  width: 8px;
  height: 8px;
  background: #ee5c4d;
  border-radius: 10px;
  opacity: 0.2;
}
.second-dot,
.third-dot {
  background: #ee5c4d;
  /* opacity: 0.2; */
}

.dots-div {
  width: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.dots-divv {
  width: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

/* second row  */
.ongoing-and-seeall {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}
.ongoing-course {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  /* identical to box height, or 208% */

  color: #000000;
}
.see-all {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: right;
  color: #7a7a7a;
  cursor: pointer;
}

.second-row {
  /* border: 1px solid red;
  display: flex;
  width: 100%;
  gap: 35px;
  overflow-x: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 28px;
  grid-row-gap: 13px;
}
.banner-two {
  position: relative;
  width: 100%;
  /* padding-bottom: 10px; */
  /* width: 400px; */
}
.banner-two img {
  height: 100%;

  width: 100%;
  border-radius: 4px;
  filter: brightness(60%);
}

.second-row-inside {
  display: flex;
  justify-content: space-around;
  margin-top: -70px;
}
.second-left {
  display: flex;
  flex-direction: column;
  width: 224px;
  z-index: 1;
}
.art {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
}
.chapt {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-top: -9px;
}
.second-right {
  width: 93px;
  height: 32px;
  background: #ec5d52;
  border-radius: 4px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 11px;
  z-index: 1;
}
.second-right p {
  padding-top: 7px;
}

/* third row  */
.third-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 31px;
  column-gap: 34px;
  padding-bottom: 17px;
  padding-top: 24px;
  cursor: pointer;
  padding-top: 6px;
  /* grid-row-gap: 31px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(121px, 1fr));
  grid-column-gap: 24px; */
}
.category-types-div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  mix-blend-mode: normal;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  width: fit-content;
}
.fit-content p {
  width: fit-content;
  padding-right: 10px;
  padding-top: 10px;
}
.pen-img-div img {
  padding-left: 10px;
  padding-top: 10px;
}

/* fourth row  */

.fourth-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 28px;
  grid-row-gap: 13px;
  margin-top: 20px;
}
.fourth-right {
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  background: #fcbe4b;
  mix-blend-mode: normal;
  border-radius: 6px;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
}

.second-row-inside-four {
  display: flex;
  justify-content: space-between;
  margin-top: -59px;
  margin-right: 18px;
  z-index: 1;
}
.banner-fourr {
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.image{
  width:317x;
  height: 200px;
}
.banner-fourr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.banner-four {
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.banner-four .vedio {
  width: 100%;
  height: 71%;
  border-radius: 4px;
  /* filter: brightness(50%); */
}
.banner-four-below-content {
  /* width: 222px; */
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  padding-left: 18px;
}

.first-below-content-four {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #111111;
}
.scnd-below-content-four {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #7a7a7a;
}
.all-pop-new-flex {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding-top: 3px;
}

/* .popular-fourth p,
.new-fourth p,
.all-fourt p {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #7a7a7a;
  cursor: pointer;
} */

.active {
  border-radius: 6px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  padding-top: 12px;

  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #7a7a7a;
  cursor: pointer;

  /* color: #092963; */
}

.noactive {
  background: #dfe7f4;
  border-radius: 6px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  padding-top: 12px;
  color: #092963;
  cursor: pointer;
  padding-bottom: 10px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.fourth-left {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
/* .popular-fourth,
.all-fourt,
.new-fourth {
  border-radius: 6px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  padding-top: 12px;
} */

/* .popular-fourth:hover,
.all-fourt:hover,
.new-fourth:hover {
  background: #dfe7f4;
  border-radius: 6px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  padding-top: 12px;
  color: #092963;
  cursor: pointer;
} */

/* .popular-fourth p:hover,
.new-fourth p:hover,
.all-fourt p:hover {
  color: #092963;
  cursor: pointer;
} */

/* fifth row  */

.fifth-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 28px;
  grid-row-gap: 13px;
  margin-top: 15px;
  position: relative;
}
.second-row-inside-fifth {
  width: 41px;
  position: absolute;
  top: 27%;
  left: 42%;
}
.timer {
  display: flex;
  padding-top: 3px;
}
.timer img {
  width: 19px;
  height: 19px;
  padding-right: 3px;
  color: #7a7a7a;
}
.chapter-fifth {
  display: flex;
  justify-content: space-between;
  width: 174px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 4px;
  /* border: none; */
  /* background: transparent; */
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: grey;
}

::-webkit-scrollbar-track {
  background-image: url("https://i.imgur.com/GvV1R30.png");
  opacity: 90%;
  background-repeat: repeat-y;
  background-size: contain;
  background-color: transparent;
}

.label-impone {
  position: absolute;
  /* display: flex;
  justify-content: space-between; */
}
.label-imptwo {
  position: absolute;
}
.material-icons {
  /* position: relative;
  bottom: 159px;
  font-size: 62px; */
  /* opacity: 0.1; */
  /* background-color: white; */
  /* border-radius: 31px; */
}

/* .right-arrow-left {
  display: flex;
  justify-content: space-between;
} */

.left-arrow {
  /* position: relative;
  bottom: 142px; */
  color: rgb(251, 245, 245) !important;
  font-size: 28px;
  border-radius: 0px;
  color: rgb(10, 9, 9);
  left: 0px;
  opacity: 0.4;
  border-radius: 0% 60% 60% 0%;
  cursor: pointer;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  /* background-color: white; */
  /* display: inline; */
  /* background-color: white; */
}
.right-arrow {
  color: rgb(251, 245, 245);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 28px;
  left: 1253px;
  opacity: 0.4;
  cursor: pointer;
  margin-left: 85%;
  border-radius: 60% 0% 0% 60%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
}
.bann {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
}
