<app-header></app-header>
<div class="main-main">
  <div class="main">
    <div class="hello">Hello!</div>
    <div class="mahendra">Mahendra Singh Dhoni</div>
    <!-- first row  -->
    <div class="first-row">
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
      <div class="banner">
        <img src="./assets/banner-42 1.png" alt="" />
        <p class="course-name">Product UX Design Course Sale</p>
      </div>
    </div>

    <div class="dots-div">
      <div class="first-dot"></div>
      <div class="second-dot"></div>
      <div class="third-dot"></div>
      <div class="third-dot"></div>
    </div>

    <!-- second row  -->
    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Ongoing courses</div>
      <div class="see-all" routerLink="/ogoing">See All</div>
    </div>

    <div class="second-row">
      <div class="banner-two">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">Art & Illustration</p>
            <p class="chapt">15/20 Chapters</p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
      <div class="banner-two">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">Art & Illustration</p>
            <p class="chapt">15/20 Chapters</p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
      <div class="banner-two">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside">
          <div class="second-left">
            <p class="art">Art & Illustration</p>
            <p class="chapt">15/20 Chapters</p>
          </div>
          <div class="second-right"><p>Continue</p></div>
        </div>
      </div>
    </div>

    <!-- third row  -->
    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Categories</div>
      <div class="see-all">See All</div>
    </div>
    <div class="third-row">
      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desiw4t5g</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desiwes45tgn</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desiewtr44gn</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desittgn</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desigrtn</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desigswrtn</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Desigrtrn</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Designtret</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Designrtr4t</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Designrtrt</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Designrtgrt</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Designrtrt</p></div>
      </div>

      <div class="category-types-div">
        <div class="pen-img-div"><img src="./assets/pen.png" alt="" /></div>
        <div class="fit-content"><p>Design</p></div>
      </div>
    </div>

    <!-- fourth row  -->

    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Choice your course</div>
      <div class="see-all">See All</div>
    </div>
    <div class="all-pop-new-flex">
      <div class="all-fourt"><p>All</p></div>
      <div class="popular-fourth"><p>Popular</p></div>
      <div class="new-fourth"><p>Newest</p></div>
    </div>
    <div class="fourth-row">
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-four">
          <div class="second-left"></div>
          <div class="fourth-right"><p>Design</p></div>
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <p class="scnd-below-content-four">7 Chapters</p>
        </div>
      </div>
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-four">
          <div class="second-left"></div>
          <div class="fourth-right"><p>Design</p></div>
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <p class="scnd-below-content-four">7 Chapters</p>
        </div>
      </div>
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-four">
          <div class="second-left"></div>
          <div class="fourth-right"><p>Design</p></div>
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <p class="scnd-below-content-four">7 Chapters</p>
        </div>
      </div>
    </div>

    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Top courses in Business</div>
      <div class="see-all">See All</div>
    </div>
    <div class="fifth-row">
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">7 Chapters</p>
            <p  class="timer"><img src="./assets/clock@2x 1.png" alt="" /> 1:30:20</p>
          </div>
        </div>
      </div>
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">7 Chapters</p>
            <p  class="timer"><img src="./assets/clock@2x 1.png" alt="" /> 1:30:20</p>
          </div>
        </div>
      </div>
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">7 Chapters</p>
            <p  class="timer"><img src="./assets/clock@2x 1.png" alt="" /> 1:30:20</p>
          </div>
        </div>
      </div>

    </div>

    <div class="ongoing-and-seeall">
      <div class="ongoing-course">Top courses in Design</div>
      <div class="see-all">See All</div>
    </div>
    <div class="fifth-row">
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">7 Chapters</p>
            <p  class="timer"><img src="./assets/clock@2x 1.png" alt="" /> 1:30:20</p>
          </div>
        </div>
      </div>
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">7 Chapters</p>
            <p  class="timer"><img src="./assets/clock@2x 1.png" alt="" /> 1:30:20</p>
          </div>
        </div>
      </div>
      <div class="banner-four">
        <img src="./assets/banner-42 1.png" alt="" />
        <div class="second-row-inside-fifth">
          <img src="./assets/play.png" alt="" />
        </div>
        <div class="banner-four-below-content">
          <p class="first-below-content-four">
            Learn Figma - UI/UX Design Essential Training
          </p>
          <div class="chapter-fifth">
            <p class="scnd-below-content-four">7 Chapters</p>
            <p  class="timer"><img src="./assets/clock@2x 1.png" alt="" /> 1:30:20</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
