<app-header></app-header>
<div class="main-main">
  <div class="main">
    <div class="left-and-right">
      <div class="left">
        <div class="intro-vedio">
          <img src="./assets/Video Space.png" alt="" />
          <!-- <video src="{{user?.previewVideo}}" type="video/ogg"></video> -->
        </div>
        <div class="introduction-content-flex">
          <div class="intoduction-vedio-name">
            {{ user?.courseName }}
          </div>
          <div class="design-button">
            <p class="design">{{ user?.categoryName }}</p>
          </div>
        </div>
        <div class="chapter-count">
          {{ user?.chapterCount }} Chapter | {{ user?.lessonCount }} lessons
        </div>
        <div class="intro-para-one">
          {{ user?.courseTagLine }}
        </div>
        <div class="intro-para-two">
          {{ user?.description }}<span *ngIf="showMore">..</span
          ><span class="show" *ngIf="showMore" (click)="clickShowMore()"
            >SHOW MORE</span
          >
        </div>
        <div class="intro-para-twoo" *ngIf="showless">
          {{ user?.description
          }}<span class="show" (click)="clickShowLess()">SHOW LESS</span>
        </div>
      </div>
      <div class="right">
        <div class="inside-right">
          <div class="overview-and-chapters">
            <div class="overview">Overview</div>
            <div class="chapter">Chapters</div>
          </div>
          <div class="course-include">Course Includes</div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (6).png" alt="" />
            </div>
            <div class="course-row-subtwo">
              {{ user?.courseDuration }} total hours video
            </div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (5).png" alt="" />
            </div>
            <div class="course-row-subtwo">Support Files</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (4).png" alt="" />
            </div>
            <div class="course-row-subtwo">
              {{ user?.chapterCount }}Module Test
            </div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (3).png" alt="" />
            </div>
            <div class="course-row-subtwo">Full lifetime access</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (2).png" alt="" />
            </div>
            <div class="course-row-subtwo">
              Access on mobile, desktop and tv
            </div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (1).png" alt="" />
            </div>
            <div class="course-row-subtwo">Certificate of Completion</div>
          </div>

          <div class="what">What you'll learn</div>
          <div
            class="what-yoll-content-list"
            *ngFor="let lerning of user?.learningOutCome"
          >
            <div><img src="./assets/Combined-Shape.png" alt="" /></div>
            <div class="content-row-right">
              {{ lerning }}
            </div>
          </div>

          <div class="requirement">Requirements</div>

          <div
            class="what-yoll-content-list-second"
            *ngFor="let require of user?.requirements"
          >
            <div><img src="./assets/Ellipse 9.png" alt="" /></div>
            <div class="content-row-right">
              {{ require }}
            </div>
          </div>

          <div class="instructor">Instructor</div>

          <div class="intructor-div">
            <div>
              <img src="./assets/img_instructor1 copy@3x 1.png" alt="" />
            </div>
            <div class="about-techer">
              <div class="techer-name">{{ user?.instructorName }}</div>
              <div class="about-teacher-second">
                {{ user?.designation }} {{ user?.url }}
              </div>
            </div>
          </div>

          <div class="about-techer-para">
            <p class="teacher-para">
              {{ user?.instructorDescription }}
            </p>
          </div>
        </div>

        <div class="join-course">
          <div class="join-course-btn">Join Course</div>
        </div>
      </div>

      <!-- for chapteer-list -->

      <!-- <div class="right">
        <div class="inside-right">
          <div>Course Content</div>
          <div>
            7 Chapter | 46 lessons | 6 Assignment Test | 3.5h total length
          </div>
          <div class="chaptername-list">
            <div class="chaptername-list-name">Chapter 1 - Introduction to the course</div>
            <div><img src="./assets/Vector (6).png" alt=""></div>
          </div>
          <div class="chaptername-list">
            <div class="chaptername-list-name">Chapter 1 - Introduction to the course</div>
            <div><img src="./assets/Vector (6).png" alt=""></div>
          </div>
          <div class="chaptername-list">
            <div class="chaptername-list-name">Chapter 1 - Introduction to the course</div>
            <div><img src="./assets/Vector (6).png" alt=""></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
