<app-header></app-header>
<div class="main-main">
  <div class="main">
    <div>ongoing</div>
    <div class="left-and-right">
      <div class="left">
        <div class="intro-vedio"></div>
        <div class="introduction-content-flex">
          <div class="intoduction-vedio-name">
            Learn Figma - UI/UX Design Essential Training
          </div>
          <div class="design-button">Design</div>
        </div>
        <div>7 Chapter | 46 lessons</div>
        <div class="intro-para-one">
          Learn how to design a beautiful and engaging mobile app with Figma.
          Learn-by-doing approach. Learn how to design a beautiful and engaging
          mobile app with Figma. Learn-by-doing approach.
        </div>
        <div class="intro-para-two">
          Figma is a very powerful application that runs online. There are
          virtually no platform boundaries when it comes to using figma because
          you can design within a web browser or using their desktop application
          made for windows and macs. Figma is similar to Sketch and Adobe XD but
          is the more powerful....<span class="show">SHOW MORE</span>
        </div>
      </div>
      <!-- <div class="right">
        <div class="inside-right">
          <div class="overview-and-chapters">
            <div class="overview">Overview</div>
            <div class="chapter">Chapters</div>
          </div>
          <div class="course-include">Course Includes</div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (6).png" alt="" />
            </div>
            <div class="course-row-subtwo">3.5 total hours video</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (5).png" alt="" />
            </div>
            <div class="course-row-subtwo">3.5 total hours video</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (4).png" alt="" />
            </div>
            <div class="course-row-subtwo">3.5 total hours video</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (3).png" alt="" />
            </div>
            <div class="course-row-subtwo">3.5 total hours video</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (2).png" alt="" />
            </div>
            <div class="course-row-subtwo">3.5 total hours video</div>
          </div>
          <div class="course-row-one">
            <div class="course-row-subone">
              <img src="./assets/Group 163 (1).png" alt="" />
            </div>
            <div class="course-row-subtwo">3.5 total hours video</div>
          </div>

          <div class="what">What you'll learn</div>
          <div class="what-yoll-content-list">
            <div><img src="./assets/Combined-Shape.png" alt="" /></div>
            <div class="content-row-right">
              You will have a fully interactive design and prototype at the end
              of this course
            </div>
          </div>

          <div class="what-yoll-content-list">
            <div><img src="./assets/Combined-Shape.png" alt="" /></div>
            <div class="content-row-right">
              You will have a fully interactive design and prototype at the end
              of this course
            </div>
          </div>

          <div class="what-yoll-content-list">
            <div><img src="./assets/Combined-Shape.png" alt="" /></div>
            <div class="content-row-right">
              You will have a fully interactive design and prototype at the end
              of this course
            </div>
          </div>

          <div class="what-yoll-content-list">
            <div><img src="./assets/Combined-Shape.png" alt="" /></div>
            <div class="content-row-right">
              You will have a fully interactive design and prototype at the end
              of this course
            </div>
          </div>

          <div class="requirement">Requirements</div>

          <div class="what-yoll-content-list-second">
            <div><img src="./assets/Ellipse 9.png" alt="" /></div>
            <div class="content-row-right">
              You should know your way around comouter basics
            </div>
          </div>

          <div class="what-yoll-content-list-second">
            <div><img src="./assets/Ellipse 9.png" alt="" /></div>
            <div class="content-row-right">
              You should know your way around comouter basics
            </div>
          </div>

          <div class="what-yoll-content-list-second">
            <div><img src="./assets/Ellipse 9.png" alt="" /></div>
            <div class="content-row-right">
              You should know your way around comouter basics
            </div>
          </div>

          <div class="instructor">Instructor</div>

          <div class="intructor-div">
            <div>
              <img src="./assets/img_instructor1 copy@3x 1.png" alt="" />
            </div>
            <div class="about-techer">
              <div class="techer-name">Dean Mathew</div>
              <div class="about-teacher-second">
                User Interface teacher www.appledesigntips.com
              </div>
            </div>
          </div>

          <div class="about-techer-para">
            <p>
              Back in 2010, I started brainspin with a desire to design
              compelling and engaging apps. For over 7 years, I have designed
              many high profile web and iPhone applications. The applications
              range from 3D medical aided web applications to project management
              applications for niche industries. I am also the founder of a
              large local design organization, Salt Lake Designers, where I and
              other local influencers help cultivate the talents of up and
              coming UX designers through workshops and panel discussions.
              <span class="show">SHOW MORE</span>
            </p>
          </div>
        </div>

        <div class="join-course">
          <div class="join-course-btn">  Join Course</div>  
        </div>
      </div> -->

      <!-- for chapteer-list -->

      <div class="right">
        <div class="inside-right">
          <div>Course Content</div>
          <div>
            7 Chapter | 46 lessons | 6 Assignment Test | 3.5h total length
          </div>
          <div class="chaptername-list">
            <div class="chaptername-list-name">Chapter 1 - Introduction to the course</div>
            <div><img src="./assets/Vector (6).png" alt=""></div>
          </div>
          <div class="chaptername-list">
            <div class="chaptername-list-name">Chapter 1 - Introduction to the course</div>
            <div><img src="./assets/Vector (6).png" alt=""></div>
          </div>
          <div class="chaptername-list">
            <div class="chaptername-list-name">Chapter 1 - Introduction to the course</div>
            <div><img src="./assets/Vector (6).png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
