<div class="head">
  <app-header></app-header>
</div>
<div class="hh">
  <div class="mblimg">
    <img src="./assets/img_designcoursedetail1_bg.png" alt="" />
    <div class="mblcross">
      <img src="./assets/icn_close_white.png" alt="" />
    </div>
    <div class="mblName">
      <div class="mblname1">Learn Figma - UI/UX Design Essential Training</div>
      <div>
        <span class="mblDesign">design</span
        ><span class="mblchap">7 Chapters | 46 Lessons</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main">
      <div class="path">
        <span>My Course</span><span>></span><span>Ongoing</span>
      </div>

      <div class="parts">
        <div class="part1">
          <!-- <div class="mbloverchap">
            <p class="mblan1" [ngClass]="act" (click)="mblOver()" >Overview</p>
            <p class="mblan2"  [ngClass]="act1" (click)="mblOver()">Chapters</p>
          </div> -->

          <!-- <img class="video" src="/assets/Video Space.png" alt="" /> -->
          <div class="vedio-div">
            <video
              class="video"
              [src]="vedio"
              type="mp4"
              controls
              (click)="playPause()"
              (ended)="vedioend(userChapter.listOfChapters._id)"
              id="my_video_1"
            ></video>
          </div>

          <!-- <vg-player>
            <video [vgMedia]="$any(media)" #media [src]="user?.courseOverview?.previewVideo?.overViewId?.previewThisCourse?.videoLink" id="singleVideo" preload="auto" crossorigin></video>
        </vg-player> -->

          <div class="heading">
            <div class="headName">
              <p class="p1">Learn Figma - UI/UX Design Essential Training</p>
              <p class="p2">7 Chapter | 46 lessons</p>
            </div>
            <div class="type">Design</div>
          </div>
          <div *ngIf="part1video">
            <hr class="hr" />

            <div class="description1">
              <p>
                {{ vedio?.previewThisCourse?.description }}
              </p>
            </div>

            <div class="description2">
              <p>
                {{ user?.courseOverview?.overViewId?.description
                }}<span *ngIf="showMore">..</span
                ><span class="show" *ngIf="showMore" (click)="clickShowMore()"
                  >SHOW MORE</span
                >
              </p>
              <p *ngIf="showless">
                {{ user?.courseOverview?.overViewId?.description
                }}<span *ngIf="showless">..</span
                ><span class="show" (click)="clickShowLess()">SHOW LESS</span>
              </p>
            </div>
          </div>
        </div>
        <div class="part2">
          <div class="navba">
            <div class="overChap">
              <p class="mblan1" [ngClass]="act" (click)="over()">Overview</p>
              <p class="mblan2" [ngClass]="act1" (click)="chap()">Chapters</p>
            </div>
          </div>

          <div *ngIf="part2Over">
            <div class="part22">
              <div class="description22">
                <p>
                  Learn how to design a beautiful and engaging mobile app with
                  Figma. Learn-by-doing approach. Learn how to design a
                  beautiful and engaging mobile app with Figma. Learn-by-doing
                  approach.
                </p>
              </div>
              <div class="mblPrev">Preview this course</div>
              <img class="mblvideo" src="/assets/Video Space.png" alt="" />
              <div class="mbldescription22">
                <p>
                  Figma is a very powerful application that runs online. There
                  are virtually no platform boundaries when it comes to using
                  figma because you can design within a web browser or using
                  their desktop application made for windows and macs. Figma is
                  similar to Sketch and Adobe XD but is the more powerful of the
                  three when it comes. Figma is a very powerful application that
                  runs online. There are virtually no platform boundaries when
                  it comes to using figma because you can design within a web
                  browser or using their desktop application made for windows
                  and macs...
                </p>
              </div>
              <div class="includes">
                <p class="inP">Course Includes</p>
                <div class="item">
                  <div>
                    <img
                      src="./assets/Group 163 (6).png"
                      alt=""
                      width="25"
                      height="25"
                    />
                  </div>
                  <p>
                    {{ vedio?.previewThisCourse?.videoDuration / 60 }} total
                    hours video
                  </p>
                </div>
                <div class="item">
                  <div>
                    <img
                      src="./assets/Group 163 (5).png"
                      alt=""
                      width="25"
                      height="25"
                    />
                  </div>
                  <p>Support Files</p>
                </div>
                <div class="item">
                  <div>
                    <img
                      src="./assets/Group 163 (4).png"
                      alt=""
                      width="25"
                      height="25"
                    />
                  </div>
                  <p>6 Module Test</p>
                </div>
                <div class="item">
                  <div>
                    <img
                      src="./assets/Group 163 (3).png"
                      alt=""
                      width="25"
                      height="25"
                    />
                  </div>
                  <p>Full lifetime access</p>
                </div>
                <div class="item">
                  <div>
                    <img
                      src="./assets/Group 163 (2).png"
                      alt=""
                      width="25"
                      height="25"
                    />
                  </div>
                  <p>Access on mobile, desktop and tv</p>
                </div>
                <div class="item">
                  <div>
                    <img
                      src="./assets/Group 163 (1).png"
                      alt=""
                      width="25"
                      height="25"
                    />
                  </div>
                  <p>Certificate of Completion</p>
                </div>
              </div>

              <div class="learn">
                <p class="learnP">What you'll learn</p>
                <div
                  class="learnItem"
                  *ngFor="
                    let what of user?.courseOverview?.overViewId
                      ?.whatYouWillLearn
                  "
                >
                  <div>
                    <img src="./assets/Combined-Shape.png" alt="" />
                  </div>
                  <p>{{ what }}</p>
                </div>
              </div>
              <div class="require">
                <p class="recP">Requirements</p>
                <div
                  class="recItem"
                  *ngFor="
                    let require of user?.courseOverview?.overViewId
                      ?.requirements
                  "
                >
                  <div>
                    <img src="/assets/Ellipse 9.png" alt="" />
                  </div>
                  <p>
                    {{ require }}
                  </p>
                </div>
              </div>

              <div class="ins">
                <p class="recP">Instructor</p>
                <div class="instructor">
                  <div class="instr-image">
                    <img
                      class="mblinst"
                      src="{{
                        user?.courseOverview?.overViewId?.instructor
                          .instructorImage
                      }}"
                      alt=""
                    />
                  </div>
                  <div class="cont">
                    <p class="aa">
                      {{ user?.courseOverview?.overViewId?.instructor.name }}
                    </p>
                    <p class="ab">
                      {{
                        user?.courseOverview?.overViewId?.instructor.designation
                      }}
                      {{ user?.courseOverview?.overViewId?.instructor.url }}
                    </p>
                  </div>
                </div>
                <div class="des">
                  {{ user?.courseOverview?.overViewId?.instructor.description }}
                  <!-- <span class="show">SHOW MORE</span> -->
                </div>
              </div>
            </div>
            <div class="join">Join Course</div>
          </div>

          <div *ngIf="part2Chap">
            <div class="contentL">
              <p class="cont1">Course Content</p>
              <p class="cont2">
                {{
                  lessonDurationtop(
                    userChapter.listOfChapters.courseContent.totalDuration / 60
                  )
                }}
                {{ userChapter.listOfChapters.courseContent.totalChapters }}
                Chapter |
                {{ userChapter.listOfChapters.courseContent.totalLessons }}
                lessons |
                {{ userChapter.listOfChapters.courseContent.totalTests }}
                Assignment Test |
                {{ userChapter.listOfChapters.courseContent.totalLessons }}
                lessons | {{ this.finalfixedtwotop }} h total length
              </p>
            </div>
            <div
              class="mainchap"
              *ngFor="
                let chapterlist of userChapter.listOfChapters.totalChapters[0]
                  .chapters;
                let i = index
              "
            >
              <div class="chap">
                <p class="chapP">
                  Chapter {{ chapterlist.chapterNumber }} -
                  {{ chapterlist.chapterTitle }}
                </p>
                <span
                  ><img
                    *ngIf="chapterarray[i]"
                    (click)="plus(i)"
                    src="./assets/Vector (6).png"
                    alt="" />
                  <img
                    class="minus"
                    *ngIf="!chapterarray[i]"
                    (click)="minus(i)"
                    src="./assets/minus.svg"
                    alt=""
                /></span>
              </div>
              <div *ngIf="!chapterarray[i]">
                <div
                  class="chapters"
                  *ngFor="let lessonlist of chapterlist.lessons; let x = index"
                >
                  <div class="chapdiv">
                    <div class="name">
                      <div class="tik">
                        <img src="./assets/Group Dot.svg" alt="" />
                      </div>
                      <div class="no">
                        {{ lessonlist.serialNumberOfLesson }}
                      </div>
                      <div class="nameLen">
                        <p class="chapdivName">
                          {{ lessonlist.title }}
                        </p>
                        {{ lessonDuration(lessonlist.duration) }}
                        <p class="chapdivlen">{{ this.finalfixedtwo }} mins</p>
                      </div>
                    </div>
                    <div
                      class="rPlay"
                      (click)="onclickvcplay(lessonlist.url, i, x)"
                    >
                      <!-- <img class="redplay" src="./assets/Red Play.svg" alt="" /> -->
                      <img
                        class="redplay"
                        src="./assets/grey play.svg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div (click)="gotoQuiz(userChapter.listOfChapters._id,chapterlist.test._id)" *ngIf="chapterlist.test">
                  <img src="./assets/moduletest.png" alt="" />
                  <p>Module Test 2</p>
                </div>
              </div>
              <!-- <div class="chap">
                <p class="chapP">Chapter 1 - Introduction to the course</p>
                <span
                  ><img
                    src="./assets/Vector (6).png"
                    alt=""
                    width="15"
                    height="15"
                /></span>
              </div> -->
              <!-- <div class="chap">
                <p class="chapP">Chapter 1 - Introduction to the course</p>
                <span
                  ><img
                    src="./assets/Vector (6).png"
                    alt=""
                    width="15"
                    height="15"
                /></span>
              </div> -->
              <!-- <div class="chap">
                <p class="chapP">Chapter 1 - Introduction to the course</p>
                <span
                  ><img
                    src="./assets/Vector (6).png"
                    alt=""
                    width="15"
                    height="15"
                /></span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="join1">Join Course</div>
</div>
