<div class="container">

    <div class="offers">
        <div class="heading">
            <h2>Best Deals & Offers</h2>
            <p>Endless delas near you! Grab the best deals and offers.</p>
        </div>

        <div class="cards d-flex">

            <div class="card1">
                <img id="rest" src="../../assets/Card1.png">
                <!-- <img  id="no-rest" src="../../assets/icn_no_restaurants.jpg" alt="">
                <div class="oops">
                    <h3>Oops!</h3>
                    <p>Offer is not available at restauarants near by change to other locations and try</p>
                </div> -->
            </div>

            <div class="card2">
                <img  src="assets/bg.png">
            </div>
        </div>

        <div class="button">
            <div>
                <p>All Offer and details <i class='fas fa-angle-right'></i> </p>
            </div>

            <div class="icon">
                <button><i class='fas fa-angle-left'></i></button>
                <button> <i class='fas fa-angle-right'></i></button>
            </div>
        </div>
    </div>
</div>