<div class="container-face4">
    
    <img src="assets/bread.png" alt="" class="bread-img">
    <img src="assets/dish.png" alt="" class="dish-img">

    <div class="face4">
        <div class="face4-heading">
            <p class="heading-howtoorder">How To Order</p>
            <p class="para-howtoorder">Giving you an easiest way to look for the best food that can be ordered.</p>

        </div>
        <div class="face4-how-to-order-images">
            <div class="howtoorder-img">
                <img src="assets/shop.png" alt="">
                <p> Explore restaurants that 
                    deliver to your doorstep.</p>
            </div>
            <div class="howtoorder-path">
                <img src="assets/Path 2 (1).png" alt="">
            </div>
            <div class="howtoorder-img">
                <img src="assets/burger.png" alt="">
                <p> Browse menus and build 
                    your order in seconds.</p>
            </div>
            <div class="howtoorder-path">
                <img src="assets/Path 2.png" alt="">
            </div>
            <div class="howtoorder-img">
                <img src="assets/shopping-cart (3).png" alt="">
                <p>Follow the status of your 
                    order with real-time alerts.</p>
            </div>

        </div>
    </div>
</div>

