<app-header></app-header>
<app-navbar></app-navbar>

<div class="people-detail-maindiv1">
  <div class="people-detail-maindiv2">
    <div class="img-div">
      <img src="./assets/yodhaimage.jpg" alt="" id="yoda-size" />
    </div>
    <div class="detail-div" >
      <h1 class="heading-name">{{starship.name | uppercase}}</h1>
      <p><span class="designation">MGLT :  </span><span class="designation-data"> {{starship.MGLT | titlecase}}</span></p>
      <p><span class="designation">cargo_capacity :  </span><span class="designation-data">{{starship.cargo_capacity| titlecase}}</span></p>
      <p><span class="designation">consumables :  </span><span class="designation-data">{{starship.consumables | titlecase}}</span></p>
      <p><span class="designation">cost_in_credits :  </span><span class="designation-data">{{starship.cost_in_credits | titlecase}}</span></p>
      <p><span class="designation">created :  </span><span class="designation-data">{{starship.created | titlecase}}</span></p>
      <p><span class="designation">crew :  </span><span class="designation-data">{{starship.crew | titlecase}}</span></p>
      <p><span class="designation">edited :  </span><span class="designation-data">{{starship.edited | titlecase}}</span></p>
      <p><span class="designation">hyperdrive_rating :  </span><span class="designation-data">{{starship.hyperdrive_rating | titlecase}}</span></p>
      <p><span class="designation">length :  </span><span class="designation-data">{{starship.length | titlecase}}</span></p>
      <p><span class="designation">manufacturer :  </span><span class="designation-data">{{starship.manufacturer | titlecase}}</span></p>
      <p><span class="designation">max_atmosphering_speed :  </span><span class="designation-data">{{starship.max_atmosphering_speed | titlecase}}</span></p>
      <p><span class="designation">model :  </span><span class="designation-data">{{starship.model | titlecase}}</span></p>
      <p><span class="designation">passengers :  </span><span class="designation-data">{{starship.passengers | titlecase}}</span></p>
      <p><span class="designation">starship_class :  </span><span class="designation-data">{{starship.starship_class | titlecase}}</span></p>


    </div>
  </div>
</div>

<app-footer></app-footer>




