<div class="policy-header">
  <div class="robologo">
    <img src="./assets/Robosoft_logo_horizontal.png" width="300" />
  </div>
</div>
<div class="rectangle">
  <form [formGroup]="myForm" class="login" (ngSubmit)="onSubmit()">
    <div classs="login">
      <p class="login1">Login</p>

      <mat-form-field floatlabel="auto" appearance="outline" class="input1">
        <mat-label>Enter Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter Username"
          formControlName="name"
        />
        <mat-error
          *ngIf="myForm.get('name')?.errors?.['required'] && (myForm.get('name')?.touched ||myForm.get('name')?.dirty )"
        >
          Name should be required</mat-error
        >
        <mat-error
          *ngIf="myForm.get('name')?.errors?.['pattern'] && (myForm.get('name')?.touched || myForm.get('name')?.dirty)"
        >
          Name should be in aplhabet</mat-error
        >
      </mat-form-field>
      <mat-form-field floatlabel="auto" appearance="outline" class="input2">
        <mat-label>Enter Password</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter Password"
          formControlName="password"
        />

        <mat-error
          *ngIf="myForm.get('password')?.errors?.['required'] && (myForm.get('password')?.touched || myForm.get('password')?.dirty)"
        >
          password recquired</mat-error
        >
        <mat-error
          *ngIf="myForm.get('password')?.errors?.['pattern']  && (myForm.get('password')?.touched || myForm.get('password')?.dirty)"
        >Must contain at least one number, Capital case and Uppercase and min 8 </mat-error
        >
        
      </mat-form-field>
      <div>
        <!-- <input
          type="submit"
          class="btn"
          mat-button
         
        >
          Login -->
        <button type="submit" class="btn" [disabled]="myForm.invalid">login</button>
      </div>
      <div>
        <button class="forgot" routerLink="/password">Forgot Password?</button>
      </div>
    </div>
  </form>
</div>
