<div class="rectangle">
  <header>
    <div class="logo">
      <img  class="log" src="./assets/Robosoft_logo_horizontal.png" />
    </div>
  </header>
  <div class="login">
    <p class="login1">Login</p>
    <mat-form-field floatlabel="auto" appearance="outline" class="input1">
      <mat-label>Enter Username</mat-label>
      <input matInput type="text" placeholder="Enter Username" />
    </mat-form-field>
    <mat-form-field floatlabel="auto" appearance="outline" class="input2">
      <mat-label>Enter Password</mat-label>
      <input matInput type="text" placeholder="Enter Password" />
    </mat-form-field>
    <div>
      <button class="btn" mat-button>Login</button>
    </div>
  </div>
</div>
