<div class="footer">
    <div class="footer-top">
        <div class="footer-log">
            <p>LOREM</p>
        </div>
        <div class="footer-cities">
            <p class="number">24</p>
            <p class="font-style margin-left">CITIES</p>
        </div>
        <div class="countries">
            <p class="number">4</p>
            <p class="margin-right font-style"> COUNTRIES</p>
            <div class="countries-icon">ccc</div>
            <div class="countries-icon">ccc</div>
            <div class="countries-icon">ccc</div>
            <div class="countries-icon">ccc</div>
        </div>
        <div class="footer-socialmedia-icon">
            <div class="footer-icon"><mat-icon  >mail_border</mat-icon></div>
            <div class="footer-icon"><mat-icon  >label_important</mat-icon></div>
            <div class="footer-icon"><mat-icon  >unarchive</mat-icon></div>
            <div class="footer-icon"><mat-icon  >alternate_email</mat-icon></div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>About</p>
        <p>Career</p>
        <p>Privacy Policy</p>
        <p>Terms & Condition</p>
        <p>Mobile App</p>
        <p>Blog</p>
        <p>Contact</p>
        <p>Site Map</p>
    </div>
</div>
