<div class="header-first">
  <div class="icon">
    <img src="./assets/logo_web.png" alt="" />
  </div>
  <div class="search-input">
    <input type="text"  #cityname placeholder="Search city" class="serach-city-input" (keydown)="enter($event,cityname.value)" />
    <mat-icon class="serach-bar-icon" (click)="OnclickCity(cityname.value)">search</mat-icon>
  </div>
</div>

<div id="menu" (click)="openMenu()" [class.hanburgerClass]="hamburger_icon_variable">
  <div id="bar1" class="bar"></div>
  <div id="bar2" class="bar"></div>
  <div id="bar3" class="bar"></div>
</div>

<div class="nav-bar-mobile" [class.menuClass]="menuVariable">
  <div class="nav-bar-second-div">
    <div class="home-mobile" routerLink="/home">HOME</div>
    <div class="home-mobile" routerLink="/favourite">FAVOURITE</div>
    <div class="home-mobile" routerLink="/recent-serach">RECENT SEARCH</div>
  </div>
</div>

<div class="header-second">
  <div class="nav-bar">
    <p class="home" routerLink="/home" [routerLinkActive]="active">HOME</p>
    <p class="home" routerLink="/favourite" [routerLinkActive]="active">
      FAVOURITE
    </p>
    <p class="home" routerLink="/recent-serach" [routerLinkActive]="active">
      RECENT SEARCH
    </p>
  </div>

  <div class="date">
    <p>{{ date | date: "E" }},{{ date | date: "mediumDate" }}&nbsp;&nbsp;{{
      date | date: "shortTime"
    }}</p>
  </div>
</div>

<div id="mobile-date">{{ date | date: "E" | uppercase}},{{ date | date: "mediumDate" | uppercase}}&nbsp;&nbsp;{{
  date | date: "shortTime" | uppercase}}</div>

<div class="line-copy"></div>
