<div class="header-first">
  <div class="icon">
    <img src="./assets/logo_web.png" alt="" />
  </div>
  <div class="search-input">
    <input type="text" placeholder="Search city" class="serach-city-input" />
    <mat-icon class="serach-bar-icon">search</mat-icon>
  </div>
</div>

<div class="ham-icon">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="nav-bar-mobile">
  <div class="nav-bar-second-div">
    <div class="home-mobile">HOME</div>
    <div class="home-mobile">FAVOURITE</div>
    <div class="home-mobile">RECENT SEARCH</div>
  </div>
</div>

<div class="header-second">
  <div class="nav-bar">
    <div class="home">HOME</div>
    <div class="home">FAVOURITE</div>
    <div class="home">RECENT SEARCH</div>
  </div>

  <div class="date">Wed, 28 Nov 2018 11:35 AM</div>
</div>

<div class="line-copy"></div>
