.header-first {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}

.search-input {
  width: 42%;
  position: relative;
}
.serach-city-input {
  padding: 15px;
  box-sizing: border-box;
  /* height: 100.54%; */
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.7;
  border-radius: 3px;
  background-color: transparent;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.1);
}
.serach-bar-icon {
  position: absolute;
  right: 2%;
  top: 23%;
  color: white;
}
::placeholder {
  opacity: 1;
  /* font-weight: 10px; */
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.header-second {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}
.home {
  padding-right: 54px;
}
.home {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
}
.date {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 15px;
}

.line-copy {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 5px;
}
.nav-bar-mobile {
  display: none;
}

@media only screen and (max-width: 709px) {
  .home {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .serach-city-input {
    background: transparent;
    border: none;
  }
  ::-webkit-input-placeholder {
    color: transparent;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
  }

  :-ms-input-placeholder {
    color: transparent;
  }
  .serach-bar-icon {
    position: absolute;
    right: 7%;
    top: 23%;
  }
  .icon {
    width: 49%;
    text-align: right;
  }
  .header-second,
  .line-copy {
    display: none;
  }
  .nav-bar-mobile {
    display: block;
    position: fixed;
    /* background-color: #ffffff; */
    width: 75%;
  }

  .home-mobile {
    padding: 10px 10px;
  }
  .ham-icon ,span{
    width:10%;
    height: 5%;
    background:white;
    display: block;

  }
  .ham-icon{
    position: relative;
    display: inline-block;
    left: 2%;
    top: -44%;
  }
  .ham-icon span:nth-child(2){
    margin:4px 0px;
  }

}
