<div class="main-container">
  <app-header></app-header>

  <!-- nothing img  -->
  <!-- <div class="no-fvt-img">
    <img src="./assets/icon_nothing.png" alt="" />
  </div>
  <div class="no-fvt-text-div">
    <p class="No-favourite-added">No Favourites added</p>
  </div> -->
  <!-- nthng-img end  -->

  <div class="added-as-favt-remove-text-div">
    <div>6 City added as favourite</div>
    <div (click)="openDialog()">Remove All</div>
  </div>

  <div class="fvt-data-added-div">
    <div class="location-status">Bengaluru, Karnataka</div>
    <div class="data-status">
      <div class="img-data">
        <img src="./assets/icon_mostly_sunny_small.png" alt="" />
      </div>
      <div class="deg-data">
        <span class="deg-data-number">37&#176;</span
        ><span class="celcius-data">C</span>
      </div>
      <div class="msg-data">Mostly Sunny</div>
    </div>
    <div class="icon-data"><mat-icon>favorite_border</mat-icon></div>
  </div>

  <div class="fvt-data-added-div">
    <div class="location-status">Bengaluru, Karnataka</div>
    <div class="data-status">
      <div class="img-data">
        <img src="./assets/icon_mostly_sunny_small.png" alt="" />
      </div>
      <div class="deg-data">
        <span class="deg-data-number">37&#176;</span
        ><span class="celcius-data">C</span>
      </div>
      <div class="msg-data">Mostly Sunny</div>
    </div>
    <div class="icon-data"><mat-icon>favorite_border</mat-icon></div>
  </div>
</div>
