
<div class="back-arrow">
  <div class="arrow-back-div"><mat-icon routerLink="/home">arrow_back</mat-icon></div>
  <div class="recent-head-div">
    <p class="recent-head-fvt">Favourite</p>
  </div>
  <div class="search-bar-div">
    <mat-icon class="serach-bar-icon" >search</mat-icon>
  </div>
</div>

<div class="main-container">
  <div class="fav-head">
    <app-header></app-header>
  </div>

  


  <!-- nothing img  -->
  <div *ngIf="getfavlist===null || getfavlist?.length<1">
    <div class="no-fvt-img">
      <img src="./assets/icon_nothing.png" alt="" />
    </div>
    <div class="no-fvt-text-div">
      <p class="No-favourite-added">No Favourites added</p>
    </div>
  </div>
 
  <!-- nthng-img end  -->


  <div class="added-as-favt-remove-text-div" *ngIf="getfavlist.length>=1">
    <div>{{getfavlist.length}} City added as favourite</div>
    <div (click)="openDialog()">Remove All</div>
  </div>

  <div class="fvt-data-added-div" *ngFor="let data of getfavlist"   (click)="fvtback(data)">
    <div class="location-status">{{data.name}}</div>
    <div class="data-status">
      <div class="img-data">
        <img src="http://openweathermap.org/img/wn/{{this.data['weather'][0].icon}}@2x.png"  alt="" />
      </div>
      <div class="deg-data">
        <span class="deg-data-number">{{(data.main.temp -273.15).toFixed(0)}}&#176;</span
        ><span class="celcius-data">C</span>
      </div>
      <div class="msg-data">{{data['weather']['0'].description | titlecase}}</div>
    </div>
    <div class="icon-data"><mat-icon class="fav-icon" (click)="removeDil(data)">favorite</mat-icon></div>
  </div>
 
</div>
