<app-header></app-header>
<div class="main-main">
<div class="main">
  <div class="second-row">
    <div class="banner-two">
      <img src="./assets/banner-42 1.png" alt="" />
      <div class="second-row-inside">
        <div class="second-left">
          <p class="art">Art & Illustration</p>
          <p class="chapt">15/20 Chapters</p>
        </div>
        <div class="second-right"><p>Continue</p></div>
      </div>
    </div>
    <div class="banner-two">
      <img src="./assets/banner-42 1.png" alt="" />
      <div class="second-row-inside">
        <div class="second-left">
          <p class="art">Art & Illustration</p>
          <p class="chapt">15/20 Chapters</p>
        </div>
        <div class="second-right"><p>Continue</p></div>
      </div>
    </div>
    <div class="banner-two">
      <img src="./assets/banner-42 1.png" alt="" />
      <div class="second-row-inside">
        <div class="second-left">
          <p class="art">Art & Illustration</p>
          <p class="chapt">15/20 Chapters</p>
        </div>
        <div class="second-right"><p>Continue</p></div>
      </div>
    </div>
  </div>
</div>
</div>