<app-header></app-header>
<div class="main-main">
<div class="main">
  <div class="fourth-row">
    <div class="banner-four" *ngFor="let pop of usersecond">
      <img src="{{ pop.courseImage }}" alt="" />
      <div class="second-row-inside-four">
        <div class="fourth-left"></div>
        <!-- <div class="fourth-right"> -->
        <p class="fourth-right">{{ pop.category }}</p>
        <!-- </div> -->
      </div>
      <div class="banner-four-below-content">
        <p class="first-below-content-four">
          {{ pop.courseTitle }}
        </p>
        <p class="scnd-below-content-four">
          {{ pop.courseContent.totalChapters }} Chapters
        </p>
      </div>
    </div>
  </div>
</div>
</div>