<!-- <p>interpol works!</p>
<p> my name is not {{name}}</p>


<h2>{{2+2}}</h2>

<h2>{{"welcome"+" "+ name}}</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>

<h2 class="col">{{greetUser()}}</h2> -->


<!-- <input [id]="myId" type="text" value="karthik"> -->
<!-- <input id="{{myId}}" type="text" value="karthik"> -->
<!-- <input disabled="{{true}}" id="{{myId}}" type="text" value="karthik"> -->
<!-- <input [disabled]="isDisabled" id="{{myId}}" type="text" value="karthik"> -->
<!-- <h1 class="text-success">welcome to home</h1> -->
<!-- <h1 [class]=" successClass">welcome to another home</h1> -->
<!-- <h1 class="text-danger" [class]="successClass" >welcome to another home</h1> -->

<!-- <h2 [class.text-danger]="hasError">alone</h2> -->
<!-- <h2 [ngClass]="messageClasses">robosoft technologies pooja shetty</h2> -->

<!-- <h2 [style.color]="'orange'">inline style binding</h2> -->

<!-- use conditional -->
<!-- <h2 [style.color]="hasError ? 'red': 'green'">inline style binding</h2> -->

<!-- <h2 [style.color]="highColor">style binding 2</h2> -->

<!-- <h3  [ngStyle]=" multiSTyle">multiline styling</h3> -->
<!-- <button (click)="onClick()">greet</button> -->

<!-- <button (click)="onClick($event)">greet</button>{{greeting}} -->

<input #myInput type="text">
<button (click)="logMessage(myInput.value)">log</button>