<div class="main-brands-nearby-div">
  <p class="brands-nearby">Brands Nearby</p>
  <div class="mask">
    <div class="bitmap">
      <img src="./assets/Bitmap.png" alt="" />
    </div>
    <div class="left-side">
      <div class="icon-and-kfc-div">
        <div class="icon-div"><img src="./assets/Oval 6.png" alt="" /></div>
        <div class="kfc-latin-div">
          <p class="kfc">KFC</p>
          <p class="latin-american-bake">Latin American, Bakery</p>
        </div>
      </div>

      <div class="Lorem-ipsum-and-menu-png-div">
        <div class="Lorem-ipsum-dolor-si">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Phasellus consequat purus sit amet lectus bibendum finbus.</p>
        </div>
        <div class="menu-png"><img src="./assets/menu.png" alt="" /></div>
      </div>
    </div>
  </div>



  <div class="mask">
    <div class="bitmap">
      <img src="./assets/Bitmap.png" alt="" />
    </div>
    <div class="left-side">
      <div class="icon-and-kfc-div">
        <div class="icon-div"><img src="./assets/Oval 6.png" alt="" /></div>
        <div class="kfc-latin-div">
          <p class="kfc">KFC</p>
          <p class="latin-american-bake">Latin American, Bakery</p>
        </div>
      </div>

      <div class="Lorem-ipsum-and-menu-png-div">
        <div class="Lorem-ipsum-dolor-si">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Phasellus consequat purus sit amet lectus bibendum finbus.</p>
        </div>
        <div class="menu-png"><img src="./assets/menu.png" alt="" /></div>
      </div>
    </div>
  </div>




</div>
