<!-- header-section -->
<header>
  <div class="main-header">
    <div class="logo">
      <img src="./assets/Robosoft_logo_horizontal.png" />
      <p>
        <span class="name">POOJASHREE SHETTY</span>
        <img src="./assets/images-icon.png" width="50" height="50" />
      </p>
    </div>
  </div>
</header>

<!-- <section>
  <aside class="sidebar">
    <p>Your questionaries</p>
    <p><button>New Questionaries</button></p>
    <div class="sub-sidebar">
    <p>Secure coding guidelines</p>
    <p> Secure coding guidelines</p>
    <p>Secure coding guidelines</p>
    <p>Secure coding guidelines</p>
  </div>
  </aside>
  
</section>
<section>
  <article>

  </article>
</section> -->
<aside>
  <ul>
    <li>Your <br />questionaries</li>
    <li><button>New Questionaries</button></li>
    <li>Secure coding Guidelines..</li>
    <li>ISMS questionaries <img src="./assets/sidebar-arrow.png" /></li>
    <li>PA questionaries <img src="./assets/sidebar-arrow.png" /></li>
    <li>process questionaries <img src="./assets/sidebar-arrow.png" /></li>
  </ul>
</aside>

<section>
  <article>
    <div>
      <h3>Questionaries</h3>
      <mat-form-field floatlabel="auto" appearance="outline" class="input">
        <mat-label>Enter title</mat-label>

        <input matInput type="text"  placeholder="Secure Coding guidelines"/>

        <mat-hint>Please enter appropriate title</mat-hint>
      </mat-form-field>
      <mat-form-field floatlabel="auto" appearance="outline" class="input">
        <mat-label>Description</mat-label>

        <input matInput type="text" placeholder="THese Guidelines Helps yout to code in a secure manor which would
        assist in keeping the product data safe"/>

        
        
      </mat-form-field>
      <mat-form-field floatlabel="auto" appearance="outline" class="input">
        <mat-label>Button Title</mat-label>

        <input matInput type="text" />

        <mat-hint>Please enter appropriate title</mat-hint>
      </mat-form-field>
      <mat-form-field floatlabel="auto" appearance="outline" class="input">
        <mat-label>Button Text</mat-label>

        <input matInput type="text" />

        <mat-hint>Please enter appropriate title</mat-hint>
      </mat-form-field>
      <mat-form-field floatlabel="auto" appearance="outline" class="input">
        <mat-label>Checkbox text</mat-label>

        <input matInput type="text" />

        <mat-hint>I had read the Guidelines</mat-hint>
      </mat-form-field>

      <h2>Additional Details</h2>

      


      <footer>end</footer>
    </div>
    <div></div>
  </article>
</section>
