.policy-body {
  display: flex;
  position: relative;
}
.policy-side {
  /* background-color: aqua; */

  margin-left: 10.4%;
  width: 27.4%;
  height: 33.05%;
  padding: 25px 10px;
  margin-top: 20px;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.policy-side ul {
  list-style-type: none;
}
.pol-side-head {
  height: 56px;
  width: 11.18%;
  opacity: 0.87;
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  margin: 10px 0;
}
.pol-side-button {
  height: 48px;
  width: 75%;
  background-color: #c21442;
  color: white;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 25px;
  margin: 13px 0;
  box-shadow: rgba(63, 1, 1, 0.35) 0px 5px 15px;
}
.pol-side-secure {
  margin-top: 40px;
  opacity: 0.87;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.pol-side-list {
  margin-top: 40px;
  opacity: 0.87;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.pol-side-arrow1 {
  margin-left: 74px;
}
.pol-side-arrow2 {
  margin-left: 93px;
}
.pol-side-arrow3 {
  margin-left: 58px;
}
.pol-section {
  width: 100%;
  /* background-color: chartreuse; */
  display: flex;
  padding: 25px 0;
}
.policy-body > .pol-section {
  margin-left: 20px;
}
.pol-section-first {
  width: 61%;
  /* background-color: rgb(194, 156, 230); */
}
.pol-section-second {
  width: 25%;
  /* background-color:antiquewhite; */
}
.pol-section-head {
  opacity: 0.87;
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-top: 10px;
}

.input1 {
  width: 90%;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.input2 {
  width: 90%;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.pol-section-input3-4 {
  display: flex;
  justify-content: space-between;
  width: 77%;
}
.input3 {
  width: 145%;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.input4 {
  width: 143%;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.input5 {
  width: 90%;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.pol-section-addtional {
  opacity: 0.87;
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-top: 37px;
}
.pol-section-adddetail {
  width: 90%;
}
.pol-section-calender {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.pol-section-calender .mat-form-field {
  width: 203px;
}
.date1 .mat-form-field .input6 {
  width: 70%;
}
.date2 .mat-form-field .input7 {
  width: 70%;
}

.date3 .mat-form-field .input8 {
  width: 70%;
}
.material-icons.color_red {
  color: #d92756;
  transform: scale(0.7);
}

.pol-section-ppt {
  display: flex;
  justify-content: space-between;
  width: 86%;
}
.input9 {
  width: 145%;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.input10 {
  width: 143%;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.input11 {
  width: 100%;
  margin-top: 15px;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.pol-section-border {
  border-left: 3px solid #d92756;
  height: 400px;
  /* border-right: red; */
}
.pol-section-icons {
  margin-left: 30px;
}
.pol-section-icons .icon1 {
  background-color: #fcedf0;
  margin-top: 45px;
  padding: 5px;
  border-radius: 15px;
  width: 70%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #c21442;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
}



#option-btn {
  position: absolute;
  left: 85%;
  bottom: 27px;
  font-size: 20px;
}
