<div class="main-container">
  <app-header></app-header>

  <!-- location  -->
  <div class="location">{{ getCityResults.name }}</div>

  <!-- favourite  -->
  <div class="fav-and-text">
    <mat-icon
      [ngClass]="color"
      [innerText]="border"
      (click)="onClickFav()"
    ></mat-icon>
    <span
      class="add-to-fav-text"
      [innerText]="text"
      [ngClass]="color"
      (click)="onClickFav()"
    ></span>
  </div>

  <!-- mostly-sunny  -->
  <div class="mostly-sunny-div">
    <img
      src="http://openweathermap.org/img/wn/{{
        this.getCityResults['weather'][0].icon
      }}@2x.png"
      alt=""
    />
  </div>

  <div class="cel-far-btn-div">
    <div class="temp-cel">{{ temperature }}</div>
    <div id="btn">
      <button class="c" (click)="cel()" [ngClass]="active">&#176;C</button
      ><button class="c" (click)="far()" [ngClass]="active1">&#176;F</button>
    </div>
  </div>

  <div class="mostly-sunny-text">
    {{ getCityResults["weather"]["0"].description | titlecase }}
  </div>

  <hr />
  
  <div id="ft">
    <div class="footer">
      <!-- 1 -->
     
      <div class="foot">
        <div class="footer-img">
          <img src="/assets/icon_temperature_info.png" />
        </div>

        <div class="abc">
          <div class="footer-text1">Min - Max</div>

          <div class="footer-text2">
            {{ (getCityResults["main"].temp_min - 273.15).toFixed(0) }}&#176;-{{
              (getCityResults["main"].temp_max - 273.15).toFixed(0)
            }}&#176;
          </div>
        </div>
      </div>

      <!-- 2 -->

      <div class="foot">
        <div class="footer-img">
          <img src="/assets/icon_precipitation_info.png" />
        </div>

        <div class="abc">
          <div class="footer-text1">Pressure</div>

          <div class="footer-text2">{{ getCityResults["main"].pressure }}</div>
        </div>
      </div>

      <!-- 3 -->

      <div class="foot">
        <div class="footer-img">
          <img src="/assets/icon_humidity_info.png" />
        </div>

        <div class="abc">
          <div class="footer-text1">Humidity</div>

          <div class="footer-text2">{{ getCityResults["main"].humidity }}%</div>
        </div>
      </div>

      <!-- 4 -->

      <div class="foot">
        <div class="footer-img">
          <img src="/assets/icon_wind_info.png" />
        </div>

        <div class="abc">
          <div class="footer-text1">Wind</div>

          <div class="footer-text2">{{ getCityResults["wind"].speed }} mph</div>
        </div>
      </div>

      <div class="foot">
        <div class="footer-img">
          <img src="/assets/icon_visibility_info.png" />
        </div>

        <div class="abc">
          <div class="footer-text1">Visibility</div>

          <div class="footer-text2">{{ getCityResults.visibility }} mph</div>
        </div>
      </div>
    </div>
  </div>
</div>
