<div class="main-container">
  <app-header></app-header>

  <!-- location  -->
  <div class="location">{{getCityResults.name}}</div>

  <!-- favourite  -->
  <div class="fav-and-text">
    <mat-icon  [ngClass]="color" [innerText]="border" (click)="onClickFav()" ></mat-icon>
    <span class="add-to-fav-text"  [innerText]="text" [ngClass]="color" (click)="onClickFav()"></span>
  </div>

  <!-- mostly-sunny  -->
  <div class="mostly-sunny-div">
    <img src="./assets/icon_mostly_sunny.png" alt="" />
  </div>

  <div class="cel-far-btn-div">
    <div class="temp-cel">87</div>
    <div id="btn">
      <button class="c">&#176;C</button><button class="c">&#176;F</button>
    </div>
  </div>

  <div class="mostly-sunny-text">{{getCityResults?.weather.description}}</div>

  <!-- hr  -->
  <div class="line-copy1"></div>

  <!-- footer  -->
  <div class="footer">
    <!-- footer 1  -->
    <div class="footer-1">
      <div class="footer-1-image">
        <img src="./assets/icon_temperature_info.png" alt="" />
      </div>

      <div class="footer-1-content">
        <div class="footer-1-content-info1">
          <p id="Min-deg">Min-Max</p>
        </div>

        <div class="footer-1-content-info1">
          <p id="Visibility-mph">27-28</p>
        </div>
      </div>
    </div>

    <!-- footer 2  -->

    <div class="footer-2">
      <div class="footer-2-image">
        <img src="./assets/icon_precipitation_info.png" alt="" />
      </div>
      <div class="footer-2-content">
        <div class="footer-2-content-info2">
          <p
            class="Winds"
            style="display: inline-block; margin-left: 10px"
            id="Min-deg"
            >Precipitation</p
          >
        </div>
        <div class="footer-2-content-info2">
          <p id="Visibility-mph" style="margin-left: 10px">100</p>
        </div>
      </div>
    </div>

    <!-- footer 3  -->
    <div class="footer-3">
      <div class="footer-3-image">
        <img src="./assets/icon_humidity_info.png" alt="" />
      </div>

      <div class="footer-3-content">
        <div class="footer-3-content-info3">
          <p class="Winds" id="Min-deg">Humidity</p>
        </div>

        <div class="footer-2-content-info2">
          <p id="Visibility-mph">100</p>
        </div>
      </div>
    </div>

    <!-- footer 4  -->
    <div class="footer-4">
      <div class="footer-4-image">
        <img src="./assets/icon_wind_info.png" alt="" />
      </div>

      <div class="footer-4-content">
        <div class="footer-4-content-info4">
          <p
            class="Winds"
            id="Min-deg"
            style="display: inline-block; margin-left: 10px"
            >Wind</p
          >
        </div>

        <div class="footer-4-content-info4">
          <p id="Visibility-mph" style="margin-left: 10px">100 mph</p>
        </div>
      </div>
    </div>

    <!-- footer-5  -->
    <div class="footer-5">
      <div class="footer-5-image">
        <img src="./assets/icon_visibility_info.png" alt="" />
      </div>

      <div class="footer-5-content">
        <div class="footer-5-content-info2">
          <p
            class="Winds"
            style="display: inline-block; margin-left: 10px"
            id="Min-deg"
            >Visibility</p
          >
        </div>

        <div class="footer-5-content-info5">
          <p id="Visibility-mph" style="margin-left: 10px">10 mph</p>
        </div>
      </div>
    </div>
  </div>
</div>
