.location {
  margin-top: 3%;
  padding: 0 10px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}
.mat-icon {
  color: white;
}
.add-to-fav-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 20%;
  padding-left: 5px;
}
.fav-and-text {
  padding: 0 10px;
  margin-top: 1%;
  position: relative;
}

.mostly-sunny-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.mostly-sunny-div img {
  width: 100px;
}
.temp-cel {
  color: #ffffff;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 75px;
}

button {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 6px;
  cursor: pointer;
  margin-top: 1%;
}
#btn {
  padding-top: 10px;
  padding-left: 8px;
}

button:not(:last-child) {
  border-right: none;
}

button:hover {
  background-color: white;
  color: #e32843;
}

.c {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  /* position: absolute; */
}
.cel-far-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.mostly-sunny-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
  margin-top: 2%;
}
.line-copy1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 5px;
  margin-top: 9%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  margin: 0px 10%;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4,
.footer-5 {
  display: flex;
  width: 100%;
  padding: 5px;
  margin-left: 5px;
  align-items: center;
}

.footer-1-content p,
.footer-2-content p,
.footer-3-content p,
.footer-4-content p,
.footer-5-content p {
  padding-left: 19px;
  width: 100%;
}

.footer-1-content-info1,
.footer-2-content-info2,
.footer-3-content-info3,
.footer-4-content-info4,
.footer-5-content-info5 {
  padding-top: 10px 10px;
  width: 100%;
}

#Min-deg {
  color: #ffffff;
  font-family: Roboto;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}
#Min-deg p {
  width: 100%;
}
#Visibility-mph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.mobile-fvt {
  display: none;
}
@media only screen and (max-width: 1006px) {
  #Min-deg {
    width: 103%;
  }
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4,
  .footer-5 {
    padding: 3px;
  }
}
@media only screen and (max-width: 970px) {
  #Min-deg {
    width: 103%;
  }
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4,
  .footer-5 {
    margin-left: -35px;
  }
}
@media only screen and (max-width: 950px) {
  .footer {
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 886px) {
  .footer {
    width: 100%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 738px) {
  .footer-5-image {
    margin-left: 19px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 100%;
  }

  .location {
    text-align: center;
  }
  .fav-and-text {
    /* text-align: center; */
    margin-left: 35%;
    margin-top: 3%;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    /* margin: 0px 10%; */
    overflow-x: auto;
    width: 100%;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    /* height: 205%; */
  }
  .line-copy1{
    margin-top: 23%;
  } 
  .footer-1{
    margin-left: 4px;
  }
  .mostly-sunny-text{
    margin-top: 7%;
  }
  .cel-far-btn-div {
    margin-top: 4%;
  }
}
