<app-header></app-header>
<div class="main-main">
  <div class="main">
    <div class="main-module">
      <div class="module-test">
        <div class="module-testt">Module Test 2</div>
        <mat-icon routerLink="/course">close</mat-icon>
      </div>

      <div class="question-count-flex">
        <div class="question-count">
          Question {{ totquest.totalQuestions }} of 25
        </div>
        <div class="flex-timer">
          <mat-icon class="timer">timer</mat-icon>
          <p class="min-remain">8mins remaining</p>
        </div>
      </div>

      <div class="quiz-container">
        <div class="quiz-question">
          <p>{{ questins[i] }}</p>
        </div>
        <div class="quiz-options">
          <div class="each-options" *ngFor="let option of options[i]">
            <img
              src="./assets/Ellipse 10.png"
              alt=""
              *ngIf="ifcircle"
              (click)="onclickcircle()"
            />
            <img src="./assets/Answer Tick Icon.svg" alt="" *ngIf="tikcircle" />
            <span class="option-span">{{ option }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-button-div">
      <!-- <button (click)="prev()">prev</button> -->
      <!-- <button (click)="next()">next</button> -->
      <div class="flex-second-div">
        <div class="first-flex">
          <p>Chapter 3</p>
          <p>Setting up a new project</p>
        </div>
        <div class="flex-button">
          <div (click)="prev()">
            <img src="./assets/Shape (1).png" alt="" />
          </div>
          <div (click)="next()"><img src="./assets/Shape.png" alt="" /></div>
          <div (click)="opensubmit()"><button>submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
