<app-header></app-header>
<app-navbar></app-navbar>

<div class="people-character-data">
  <span>DARTH VADER</span>
  <span>LUKE SKYWALKER</span>
  <span>OBI-WAN KENOBI </span>
  <span routerLink="/people-details">YODA</span>
  <span>REY</span>
  <span>DARTH VADER</span>
  <span>LUKE SKYWALKER</span>
  <span>OBI-WAN KENOBI </span>
  <span >YODA</span>
  <span>REY</span>
</div>


<div class="button">
  <button class="btn1">PREVIOUS</button>
  <button class="btn2">NEXT</button>
</div>

<app-footer></app-footer>
