
/* *{
    font-family: 'Open Sans', sans-serif;

} */

.Popular{
    background-image: url(../../assets/logo_pattern.png);
    background-size: contain;
    background-size: 100%;
    height: 380px;
    padding: 30px 0px;
}
.brands{
    display: grid;
    justify-content:center;
    max-width: 100%;
}
.brands h2{
    margin-top: 20px;
    font-size: 2.5em;
    color:  #4C4C4C;
    font-weight: 400;   
    line-height: 1;
    font-family: 'Open Sans', sans-serif;

}
.brands #findout{
    font-size: 14px;
    color:  #4C4C4C;
    width: 100%;
    margin-left: 3px;
    line-height: 4;
    font-family: 'Open Sans', sans-serif;

}

.brandcard{
    background-color: #fff;
    display: flex;
    margin-top: 1%;
    width: 650px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.inside_img{
    width: 50%;
    object-fit: cover;
    height: 100%;
}

.brandProfile{
    width: 60%;
}
.inside_img img{
    width: 100%;
    height: 100%;
}

.grandpa img{
    width: 70%;
}

.company-content{
    margin: 30px 30px 15px 30px;
    font-family: 'Open Sans', sans-serif;

}

.brandName{
    width: 200px;
    display: block;
    align-items: center;
    margin-top: 4px;
    margin-left: -2px;
    font-family: 'Open Sans', sans-serif;

}

.brandName p{
    color:#757575;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;

}

.brandContent{
    width:85%;
    margin: auto;
    color:#6A6A6A;
    font-size: 13px;
    border-top: 1px solid #EDEDED;
    padding-top: 10px;
}
.button{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;

}

.icon{
    display: flex;
}
.button p{
    color:#F67E03;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}

.icon button{
    background-color: #fff;
    padding: 10px 13px;
    border: none;
    margin-top: 10px;
}

.icon button:first-child{
    border-right: 1px solid #f4f4f4;
}


/* if no offer style  */
.brands-no-offer{
    display: grid;
    justify-content:center;
    max-width: 100%;
}
.brands-no-offer h2{
    margin-top: 20px;
    font-size: 2.5em;
    color:  #4C4C4C;
    font-weight: 500;   
    line-height: 1;
}

.brands-no-offer #findout{
    font-size: 14px;
    color:  #4C4C4C;
    width: 100%;
    margin-left: 3px;
    line-height: 4;
}

.brandcard-no-offer-main-div{
    width: 55vw;
    height: 230px;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.no-restra-img-div{
    width:216px;
    margin: auto;
}
.oops {
    height: 27px;
    width: 54px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.48px;
    line-height: 27px;
    text-align: center;
  }
.oops-div{
    width:60px;
    margin: auto;
    margin-top: 10px;
    
}
.no-brands-nearby-text{
  color: #868995;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  margin-top: 15px;
}
/* if no offer style  end */


