<div class="Popular">
  <div class="brands"> 

        <h2>Popular Brands</h2>
        <p id="findout">Find out more about the world's top food brands are available all over the world today.</p>

        <div class="brandcard">
            <div class="inside_img">
                <img src="assets/Bitmap.png">
            </div>

            <div class="brandProfile">
                <div class="d-flex company-content">
                    <div class="grandpa">
                        <img src="assets/Oval 6.png" />
                    </div>

                    <div class="brandName">
                        <h3>KFC</h3>
                        <p>Latin American, Bakery</p>
                    </div>
                </div>
                <div class="brandContent">
                    <p>'It's finger lickin' good' Lorem, ipsum. Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </div>
            </div>

        </div>

        

        <div class="button">

            <div>
                <p>All Brands <i class='fas fa-angle-right'></i> </p>
            </div>

            <div class="icon">
                <button><i class='fas fa-angle-left'></i></button>
                <button> <i class='fas fa-angle-right'></i></button>
            </div>
        </div>
    </div> 



  <!-- if no offer -->

  <!-- <div class="brands-no-offer">

    <h2>Popular Brands</h2>
    <p id="findout">Find out more about the world's top food brands are available all overtheworld today.</p>

    <div class="brandcard-no-offer-main-div">
      <div class="no-restra-img-div"><img src="./assets/icn_no_restaurants.jpg" alt=""></div>
      <div class="oops-div"><p class="oops">Oops!</p></div>
      <div class="no-brands-nearby-cha"><p class="no-brands-nearby-text">No brands nearby change to other locations and try.</p></div>
    </div>
    
  </div> -->

  <!-- if no offer end  -->

</div>
