.rectangle {
  background: url("/assets/background.png") no-repeat center center/cover;
  min-height: 100vh;
  /* min-width: 100%; */
  object-fit: cover;
  z-index: 0;
  /* background-color: #181213; */
  /* position: relative; */
}

.container {
  /* position: absolute;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  height: 100px;
  width: 84%;
  left: 50%; */
  width: 84%;
  margin: auto;
}

.serach-city {
  position: relative;
}

.img-icon {
  text-align: left;
}

.search-input {
  text-align: right;
}

#serach-input {
  position: relative;
}

input {
  padding: 13px;
  box-sizing: border-box;
  height: 6.54%;
  width: 80%;

  border: 1px solid rgba(255, 255, 255, 0.1);
  /* opacity: 0.3; */
  border-radius: 3px;
  background-color: transparent;
  z-index: 99999;

  background-color: rgba(255, 255, 255, 0.2);
}

.serach-bar {
  position: absolute;
  top: 28%;
  right: 3%;
  color: #ffffff;
}

::placeholder {
  opacity: 0.7;
  /* font-weight: 10px; */
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.home,
.nav-link,
.favourite,
.recent-search,
.wed-28-nov-2018-11 {
  font-family: Roboto;
  line-height: 16px;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  color: #ffffff;
  opacity: 1;
}

li.nav-item {
  padding: 0px 15px;
}

.navbar-nav {
  /* border-bottom: 1px solid #FFFFFF; */
}

.position {
  position: absolute;
  top: 40px;
}

.wed-28-nov-2018-11 {
  text-align: right;
  font-size: 18px;
  font-weight: 15px;
  letter-spacing: 1;

}

.active {
  border-bottom: 2px solid #ffd639;
  color: #ffd639;
}

.fillIcon {
  color: #ffd639;
  font-size: 20px;
}

/* .home:hover {
  color: #ffd639;
  text-decoration: underline;
} */

i.bi.bi-heart {
  color: white;
  font-size: 20px;
}

.current-location {
  text-align: left !important;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}

.Add-to-favourite {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 450;
  letter-spacing: 0;
  /* padding-left: 3px; */
  font-style: normal;
  position: absolute;
  width: 150px;
  left: 28px;
}

.line-copy {
  box-sizing: border-box;
  height: 1px;
  border: 1px solid #ffffff;
  opacity: 0.3;
}

.deg-87 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 75px;
  text-align: right;
}

.cel-far button {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  float: left;
}

.cel-far:after {
  content: "";
  clear: both;
  display: table;
}

.cel-far button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

.cel-far button:hover {
  background-color: white;
  color: #e32843;
}

.c {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

.mostly-sunny {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}

.Mostly Sunny-col {
  margin: auto;
}

.Winds {
  position: relative;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  /* text-align: center; */
}

/* #Visibility {
  position: absolute;
  margin-left: 3%;
  margin-top: 2px;
} */

.mt-40px {
  margin-top: 40px !important;
}

p#Min-deg {
  margin-top: -3px;
}

/* #Wind,
#Humidity,
#Precipitation,
#Min {
  position: absolute;
  margin-left: 1%;
} */

#Min-deg,
#Precipitation-per,
#Humidity-perc,
#Wind-mph,
#Visibility-mph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

/* #Visibility-mph{
  position: absolute;
  margin-left:13% ;
  margin-top: 1%;
}
.vis{
  position: absolute;
  margin-left: 82%;
} */
.display-mobile {
  display: none;
}

.display-desktop {
  display: block;
}
.display-only-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .col-12.d-flex.justify-content-center.align-items-center {
    margin-top: 79px;
  }

  .display-mobile {
    display: block;
  }

  .display-desktop {
    display: none;
  }

  .container {
    width: 100%;
    margin: auto;
    
  }

  input {
    padding: 5px;
    box-sizing: border-box;
    height: -7.46%;
    /* width: 100%; */
    /* border: 1px solid rgb(98 90 90 / 20%); */
    /* border-radius: 3px; */
    background-color: transparent;
    /* border-bottom: 1px soild white !important; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .serach-bar {
    position: absolute;
    top: 19%;
    right: 3%;
    color: #ffffff;
  }

  ::placeholder {
    color: transparent !important;
  }

  .material-icons {
    font-size: 18px;
  }

  .navbar-toggler {
    position: absolute;
    top: -123px;
    left: 0px;
    border: none;
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  .col-7.col-md-6.p-0.d-flex.align-items-center.img-icon {
    justify-content: end;
  }

  button:focus {
    box-shadow: none;
    outline: none;
  }

  .row.m-0.pt-5 {
    /* margin-top: -44px !important; */
  }

  .line-copy {
    display: none;
  }

  .row.m-0.pt-5 {
    padding-top: 1.5rem !important;
  }

  .row.m-0.mt-5.relative {
    margin-top: 5px !important;
  }

  .row.mt-5 {
    margin-top: 10px !important;
  }

  .col-12.current-location {
    display: flex;
    justify-content: center;
  }

  i.bi.bi-heart-fill.relative.fillIcon,
  i.bi.bi-heart.relative {
    margin-left: 93px;
    margin-top: 10px;
  }

  .myfav {
    margin-top: 20px;
  }

  .mobile-margin {
    margin-top: 15px !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .col-12.p-0.myfav {
    /* position: fixed;

    left: 22%; */
  }

  /* footer  */
  .display-only-mobile {
    display: block;
  }

  #footer-mobile {
    display: flex;
    justify-content: space-around;
    padding-top: 38px;
    overflow-x: auto;
    width: 100%;
  }

  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4,
  .footer-5 {
    display: flex;
  }

  .footer-1-image img,
  .footer-2-image img,
  .footer-3-image img,
  .footer-4-image img,
  .footer-5-image img {
    padding-right: 11px;
  }
}
/* @media only screen and (max-width: 480px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 15%;
  }
}

@media only screen and (max-width: 560px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 15%;
  }
}
@media only screen and (max-width: 557px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 22%;
  }
}
@media only screen and (max-width: 588px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 21%;
  }
}
@media only screen and (max-width: 523px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 19%;
  }
}
@media only screen and (max-width: 494px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 19%;
  }
}
@media only screen and (max-width: 474px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 15%;
  }
}

@media only screen and (max-width: 445px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 12%;
  }
}
@media only screen and (max-width: 375px) {
  .col-12.p-0.myfav {
    position: fixed;

    left: 7%;
  } 
}*/

/* @media only screen and (max-width: 992px) {
  .display-mobile {
    display: block;
  }

  .display-desktop {
    display: none;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  input {
    padding: 5px;
    box-sizing: border-box;
    height: -7.46%;
    /* width: 100%; */
/* border: 1px solid rgb(98 90 90 / 20%); */
/* border-radius: 3px; */
/* background-color: transparent; */
/* border-bottom: 1px soild white !important; */
/* border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;

  } */

/* .serach-bar {
    position: absolute;
    top: 19%;
    right: 3%;
    color: #ffffff;
  }

  ::placeholder {
    color: transparent !important;
  }

  .material-icons {
    font-size: 18px;
  }

  .navbar-toggler {
    position: absolute;
    top: -69px;
    left: 0px;
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .col-7.col-md-6.p-0.d-flex.align-items-center.img-icon {
    justify-content: end;
  }

  button:focus {
    box-shadow: none;
    outline: none;
  }

  .row.m-0.pt-5 { */
/* margin-top: -44px !important; */
/* }

  .line-copy {
    display: none;
  }

  .row.m-0.pt-5 {
    padding-top: 1.5rem !important;
  }

  .row.m-0.mt-5.relative {
    margin-top: 5px !important;
  }

  .row.mt-5 {
    margin-top: 10px !important;
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  a.nav-link {
    position: absolute;
    top: 26%;
    right: 10%;
  }
  .display-desktop {
    display: block;
  }

}  */
