<div class="rectangle">
  <div class="container">
    <!-- header start -->
    <div class="row m-0 pt-5">
      <div class="col-12 col-md-6 p-0 d-flex align-items-center img-icon">
        <img src="./assets/logo_web.png " alt="" />
      </div>

      <!-- search bar -->
      <div class="col-12 col-md-6 p-0 search-input">
        <div class="serach-city">
          <input type="text" #cityname placeholder="Search city" />
          <mat-icon matPrefix class="serach-bar" (click)="onClickCity(cityname.value)">search</mat-icon>
        </div>
      </div>
    </div>
    <!-- header end -->

    <div class="row m-0 mt-5 relative">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100">
            <li class="nav-item pl-0" [class.active]="routerUrl=='/weather-home'">
              <a class="nav-link " routerLink="/weather-home" [class.link-active]="routerUrl=='/weather-home'">HOME
                <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class=" nav-link" routerLink="/favourite">FAVOURITE <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class=" nav-link" routerLink="/recent-serach">RECENT SEARCH <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ms-auto">
              <a class="nav-link" href="#">
                {{ date | date: "E" }},{{
                date | date: "mediumDate"
                }}&nbsp;&nbsp;{{ date | date: "shortTime" }}
                <span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="line-copy position"></div>
    </div>

    <!-- home start -->
    <div class="mainHome">
      <div class="row mt-5">
        <div class="col-12 current-location">{{getCity?.name }} Karnataka</div>
      </div>

      <div class="row m-0 mt-3">
        <div class="col-12 p-0">
          <i class="bi bi-heart relative" *ngIf='!getCity?.isFav && getCity || favCityArray.length==0 && getCity'
            (click)="addFav(getCity)">
            <span class="Add-to-favourite">
              Add to favourite
            </span>
          </i>
          <i class="bi bi-heart-fill relative fillIcon" *ngIf='getCity?.isFav && favCityArray.length>0'
            (click)="addFav(getCity)">
            <span class="Add-to-favourite">
              Added to favourite
            </span>
          </i>
        </div>
      </div>
    </div>


    <!-- <p>{{( weatherTemp?.temp -273.15).toFixed(0)}}</p>
    <p></p> -->

    <div class="row m-0 mt-4">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img src="./assets/icon_mostly_sunny.png" alt="" />
      </div>
    </div>

    <div class="row m-0 mt-4">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="deg-87">{{(getCity?.main.temp -273.15).toFixed(0)}}</div>
        <div class="cel-far mt-3 p-2">
          <button class="c">&#176;C</button> <button class="c">&#176;F</button>
        </div>
      </div>
    </div>

    <div class="row pb-3 m-0">
      <div class="col-12 Mostly Sunny-col mt-3 mb-3">
        <p class="mostly-sunny">Mostly Sunny</p>
      </div>
    </div>

    <div class="line-copy"></div>
    <!-- home end -->

    <!-- footer start -->
    <div class="footer pb-3" style="width: 95%; margin: auto ">
      <div class="row m-0 mt-40px d-flex justify-content-space-around">
        <div class="col-12 col-md-2 p-0">
          <div class="row m-0">
            <div class="col-2">
              <img src="./assets/icon_temperature_info.png" alt="" />
            </div>
            <div class="col-10">
              <div class="row m-0">
                <div class="col-12 p-1">
                  <span class="Winds" id="Min">Min - Max</span>
                </div>
                <div class="col-12 p-1">
                  <p id="Min-deg">{{(getCity?.main.temp_min -273.15).toFixed(0)}}-{{(getCity?.main.temp_max
                    -273.15).toFixed(0)}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-2 p-0">
          <div class="row m-0">
            <div class="col-2">
              <img src="./assets/icon_precipitation_info.png" alt="" />
            </div>
            <div class="col-10">
              <div class="row m-0 p-1">
                <div class="col-12 p-1">
                  <span class="Winds" style="display: inline-block; margin-left: 10px" id="Min">Precipitation</span>
                </div>
                <div class="col-12 p-1">
                  <p id="Precipitation-per" style="margin-left: 10px">{{getCity?.main.pressure}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-2 p-0">
          <div class="row m-0">
            <div class="col-2">
              <img src="./assets/icon_humidity_info.png" alt="" />
            </div>
            <div class="col-10">
              <div class="row m-0">
                <div class="col-12 p-1">
                  <span class="Winds" id="Humidity">Humidity</span>
                </div>
                <div class="col-12 p-1">
                  <p id="Humidity-perc">{{getCity?.main.humidity}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-2 p-0">
          <div class="row m-0">
            <div class="col-2">
              <img src="./assets/icon_wind_info.png" alt="" />
            </div>
            <div class="col-10">
              <div class="row m-0">
                <div class="col-12 p-1">
                  <span class="Winds" id="Wind" style="display: inline-block; margin-left: 10px">Wind</span>
                </div>
                <div class="col-12 p-1">
                  <p id="Min-deg" style="margin-left: 10px">{{getCity?.wind.speed}} mph</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-2 p-0">
          <div class="row m-0">
            <div class="col-2">
              <img src="./assets/icon_visibility_info.png" alt="" />
            </div>
            <div class="col-10">
              <div class="row m-0">
                <div class="col-12 p-1">
                  <span class="Winds" style="display: inline-block; margin-left: 10px" id="Visibility">Visibility</span>
                </div>
                <div class="col-12 p-1">
                  <p id="Visibility-mph" style="margin-left: 10px">{{getCity?.visibility}} mph </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer end -->
  </div>
</div>