<div class="main">
    <div class="main-main">
        <mat-icon mat-dialog-close>close</mat-icon>
        <div class="main" *ngFor="let myarray of myarray">
            <div class="flex-question">
                <div class="ques">{{ myarray.questinName }}</div>
                <div class="wrong-ans" style="color: green;" *ngIf="myarray.selectedAndActualAnswerSet.rightAnswer==myarray.selectedAndActualAnswerSet.userSelected
                    ">Right Answered
                </div>
                <div class="wrong-ans"
                    *ngIf="myarray.selectedAndActualAnswerSet.rightAnswer!=myarray.selectedAndActualAnswerSet.userSelected&& myarray.selectedAndActualAnswerSet.userSelected">
                    Wrong Answer
                </div>
                <div class="wrong-ans" *ngIf="myarray.selectedAndActualAnswerSet.userSelected==null">
                    Not Answer
                </div>

            </div>
            <div *ngFor="let option of myarray.options">
                <div class="option-div">
                    <p class="op-p" [class.bg-primary]="myarray.selectedAndActualAnswerSet.rightAnswer==option"
                        [class.bg-danger]="myarray.selectedAndActualAnswerSet.userSelected ==option && myarray.selectedAndActualAnswerSet.rightAnswer !=option">
                        {{option}}</p>
                </div>
            </div>
        </div>
    </div>
</div>