<div class="rectangle">

    <div class="main ">

        <div class="row m-0 ">
            <div class="col-12 col-md-5 border-right ">
                <div class="row m-0 custum-margin ">
                    <div class="col-12 logo ">
                        <img src="./assets/logo.png" alt="" class="triangle">
                    </div>
                    <div class="col-12 mt-4">
                        <p class="protect-manage-eve">Protect & Manage every
                            password in your business</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7 ">
                <div class="row m-0">
                    <div class="mycard">
                        <div class="col-12 ">
                            <p class="sign-up">SIGN UP</p>
                        </div>
                        <div class="col-12 ">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="col-12 mt-3">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="col-12 mt-3">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="col-12 mt-4">
                            <p>SIGN UP</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>