<div class="main">

  <div class="inside-main">

      <div class="logo-main-div"><img src="./assets/Vector.png" alt=""  id="logo-main-div-one"/> <img src="./assets/Vector(2).png" alt="" id="vector-img-small"><img src="./assets/Vector (1).png" alt="" id="logo-main-div-two"> <img src="./assets/Vector(4).png" alt="" id="logo-main-div-three"><img src="./assets/Vector (2).png" alt="" id="logo-main-div-four"></div>

      <div class="search-div"></div>

      <div class="icons-main-div-end"><img src="./assets/Vector (4).png" alt="" /><img src="./assets/Vector (5).png" alt=""> <img src="./assets/Screenshot 2021-04-01 at 7.54.07 AM.png" alt=""></div>
      
  </div>
</div>
