.headMain {
  width: 100%;
  background: #092963;
  height: 80px;
}

.header {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: auto;
  height: 80px;
  align-items: center;
  /* border: 1px solid white; */
}
.search {
  width: 42%;
  position: relative;
}

::placeholder {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.3;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
input,
select,
textarea {
  color: white;
  font-size: 16px;
  padding-left: 35px;
  padding-top: 4px;
}
.maticon-left {
  color: white;
  position: absolute;
  top: 23%;
  left: 3%;
  opacity: 0.7;
}
.icon-right-side {
  position: absolute;
  top: 7%;
  right: 0%;
}
.maticon-right {
  color: white;
  opacity: 0.7;
  background: #244f9c;
  border-radius: 57px;
  width: 240%;
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  background: #123779;
  border-radius: 57px;
  border: none;
  width: 100%;
  height: 39px;
  outline: none;
  position: relative;
}

.settings {
  display: flex;
  width: 12%;
  justify-content: space-between;
  column-gap: 15px;
  position: relative;
  /* margin-top: 10px; */
}
.img1 {
  margin-top: 10px;
}
.img2 {
  /* margin-top: 10px; */
}
.img4 {
  position: absolute;
  right: 9%;
  /* top: 4%; */
  margin-top: -8px;
}

.if-search {
  width: 100%;
  background: #092963;
  min-height: 80px;
  height: auto;
}

.if-margin-auto-secnd {
  width: 38%;
  margin: auto;
  position: relative;
  left: 32px;
}
.all-elm {
  display: flex;
  flex-wrap: wrap;
  row-gap: 31px;
  column-gap: 34px;
  padding-bottom: 47px;
  padding-top: 24px;
  cursor: pointer;
}
.top-serach {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 14px;
}
.serach-div {
  background: #ffffff;
  mix-blend-mode: normal;
  border-radius: 6px;
}
.serach-div p {
  margin-bottom: 0;
}
.search-div-name {
  padding-top: 6px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  padding-left: 10px;
  padding-right: 10px;
}
.search-category {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}
.cat1 {
  display: flex;
  height: auto;
  column-gap: 10px;
  line-height: 30px;
  mix-blend-mode: normal;
  background-color: white;
  border-radius: 6px;
  padding-right: 15px;
  padding-left: 10px;
  padding-bottom: 3px;
  cursor: pointer;
}
.cat1 p {
  margin: 0%;
  width: 100%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #373737;
  padding-top: 7px;
}
.cat1 img {
  padding-top: 5px;
}
.all-el-two {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 33px;
  padding-bottom: 51px;
}

.if-show-category-marginAuto {
  position: relative;
  left: 30px;
  width: 35%;
  margin: auto;
  display: flex;
  column-gap: 45px;
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 1px solid #1e4284;
}
.left-img {
  width: 100px;
}

.if-show-right-cont {
  width: 438px;
}
.hamburger {
  display: none;
}
.search-for-mobile {
  display: none;
}
.show-category-individual {
  background: #092963;
  height: 500px;
  overflow-y: auto;
  width: 100%;
  padding-top: 1px;
}
.if-show-right-inside {
  width: 100%;
}
.cat2 {
  display: flex;
  height: auto;
  width: fit-content;
  column-gap: 10px;
  line-height: 30px;
  mix-blend-mode: normal;
  background-color: white;
  border-radius: 6px;
  padding-right: 15px;
  padding-left: 10px;
  padding-bottom: 0px;
  cursor: pointer;
}
.cat2 p {
  margin: 0%;
  width: 100%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #373737;
  padding-top: 4px;
}
.left-img img {
  border-radius: 10px;
  height: 109px;
  margin-top: 6px;
}
.digital-marketing {
  padding-top: 7px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.chapter-fourteen {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.3;
}

.ind-icon {
  padding-top: 8px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 4px;
  /* border: none; */
  /* background: transparent; */
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #0891d5;
}

::-webkit-scrollbar-track {
  background-image: url("https://i.imgur.com/GvV1R30.png");
  opacity: 90%;
  background-repeat: repeat-y;
  background-size: contain;
  background-color: transparent;
}

.noimage {
  width: 540px;
  margin: auto;
}
/* .noimage img {
  width: 156px;
  padding-top: 124px;
  padding-left: 101px;
} */
/* .noimage p {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  color: #98b6f7;
  padding-top: 7px;
} */
.no-matching {
  text-align: center;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 69px;
}
.try-a {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  /* identical to box height, or 100% */

  color: #ffffff;

  opacity: 0.5;
  text-align: center;
  padding-bottom: 41px;
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .logo {
    display: none;
  }
  .search {
    display: none;
  }
  .settings {
    display: none;
  }
  .search-for-mobile {
    display: block;
  }
  .headMain {
    background: white;
  }
  .if-search {
    display: none;
  }
  .show-category-individual {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .if-margin-auto-secnd,
  .if-show-category-marginAuto {
    width: 35%;
    margin: auto;
    position: relative;
    left: 50px;
  }
}
@media only screen and (max-width: 1056px) {
  .if-margin-auto-secnd,
  .if-show-category-marginAuto {
    width: 35%;
    margin: auto;
    position: relative;
    left: 60px;
  }
}
@media only screen and (max-width: 1111px) {
  .if-margin-auto-secnd {
    width: 40%;
    margin: auto;
    position: relative;
    left: 70px;
  }
}
@media only screen and (max-width: 1300px) {
  .if-margin-auto-secnd {
    width: 40%;
    margin: auto;
    position: relative;
    left: 70px;
  }
}
@media only screen and (max-width: 886px) {
  .digital-marketing {
    padding-top: 7px;
    font-family: "Proxima Nova Soft";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
  }
}


/* if (serach = ''){
  alert('no result found');
} else {
  this.searchByCategodry(serach);
} */