<div class="headMain">
  <div class="header">
    <div class="logo" routerLink="/home">
      <img src="./assets/Group 118.png" alt="" />
    </div>
    <div class="search">
      <input type="text" placeholder="Search" />
      <mat-icon>search</mat-icon>
    </div>

    <div class="settings">
      <div class="img1">
        <img src="./assets/Bell@2x.png" alt="" />
      </div>
      <div class="img1" routerLink="/course">
        <img src="./assets/Gear@2x.png" alt="" />
      </div>
      <div class="img2">
        <img src="./assets/Mask Group.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="if-search">
  <div class="if-margin-auto">
    <div class="if-margin-auto-secnd">
      <div class="top-serach">Top Search</div>
      <div class="all-elm">
        <!-- <div class="serach-div"><p class="search-div-name">Pytdry7dr67yr67hon</p></div> -->
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
        <div class="serach-div"><p class="search-div-name">Python</p></div>
      </div>

      <div class="search-category">Search from Categories</div>
      <div class="all-el-two">
        <div class="cat1">
          <img src="./assets/pen.png" alt="">
          <p>Design</p>
        </div>
        <div class="cat1">
          <img src="./assets/pen.png" alt="">
          <p>Design</p>
        </div>
        <div class="cat1">
          <img src="./assets/pen.png" alt="">
          <p>Design</p>
        </div>
        <div class="cat1">
          <img src="./assets/pen.png" alt="">
          <p>Design</p>
        </div>
        <div class="cat1">
          <img src="./assets/pen.png" alt="">
          <p>Desigafaszetswetn</p>
        </div>

        <div class="cat1">
          <img src="./assets/pen.png" alt="">
          <p>Design</p>
        </div>

      </div>

      
    </div>
  </div>
</div>
