.main {
  background-color: #092963;
  width: 100%;
  height: 75px;
}

.inside-main {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-main-div {
  width: 20%;
  height: 100%;
}

#logo-main-div-one {
  position: relative;
  margin-top: 14px;
}
#vector-img-small {
  position: absolute;
  top: 3.6%;
  left: 10.8%;
}

#logo-main-div-two {
  margin-bottom: 10px;
  padding-left: 10px;
}
#logo-main-div-three {
  margin-bottom: 10px;
  /* padding-left: 10px; */
}
#logo-main-div-four {
  margin-bottom: 10px;
  /* padding-left: 10px; */
}
.search-div input {
  width: 100%;
  height: 38px;
  background: #123779;
  border-radius: 57px;
  margin-top: 15px;
  position: relative;
  border: none;
}
.search-icon {
  position: absolute;
  top: 2.6%;
  z-index: 1;
  left: 31%;
  color: white;
}
::placeholder {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.3;
  padding-left: 50px;
}
.search-div {
  width: 50%;
}

.icons-main-div-end {
  width: 20%;
  text-align: right;
}
.icn-one , .icn-two, .icn-three{
  padding-left: 42px;
  margin-top: 21px;
  width: 9%;
}

