<!-- <div>
    <form class="superInput" [formGroup]="superadminForm">
        <mat-form-field floatlabel="auto" appearance="outline" class="input1">
            <mat-label>Enter Name</mat-label>
            <input formControlName="username" matInput type="text" placeholder="Enter Name" />
        </mat-form-field>

        <mat-form-field floatlabel="auto" appearance="outline" class="input2">
            <mat-label>Enter Employee Code</mat-label>
            <input formControlName="employrcode" matInput type="text" placeholder="Enter Employee Code" />
        </mat-form-field>

        <mat-form-field floatlabel="auto" appearance="outline" class="input3">
            <mat-label>Enter Email</mat-label>
            <input formControlName="emailid" matInput type="text" placeholder="Enter Email" />
        </mat-form-field>



        <button mat-button id="option-btn" mat-fab color="accent">
            <mat-icon aria-hidden="false" aria-label=" notes icon" fontIcon="update">update</mat-icon>
        </button>
    </form>
</div> -->