<div>

  <div class="main">

    <div class="left-side">

      <div class="left-side-inside">

        <div class="image-div">
          <img src="./assets/img_onboarding_illustration3.png" alt="" />
        </div>
  
        <div class="seamless">Seamless Workflow</div>
  
        <div class="sync">
          Sync rosters, create and assign impactful video experiences, enrich your
          flipped classroom, and streamline tedious grading.
        </div>

        <div class="dots-div">
          <div class="first-dot"></div>
          <div class="second-dot"></div>
          <div class="third-dot"></div>
        </div>

      </div>
      

    </div>

    <div class="right-side">

      <div class="right-side-inside">
        <div class="logo-main-div" routerLink="/home"><img src="./assets/img_virtuallearn logo_splash 2.png" alt=""></div>
        
        <div class="welcome-back">Welcome Back!</div>
        <div class="easy-to-learn">Easy to learn anytime and anywhere.</div>
        <div class="easy-to-learn-two">Login to your account</div>
        <div class="face-google-login">
          <button class="face-div"><img src="./assets/facebook(1).png" alt=""></button>
          <button class="google-div"><img src="./assets/google-icon.png" alt=""></button>
        </div>
        <div class="forms-div">
          <form [formGroup]="login" (ngSubmit)="loginSubmit()">
            <mat-form-field class="usrname-input">
              <mat-label class="username">Username</mat-label>
              <input type="email" matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="usrname-input">
              <mat-label class="username">Enter your password</mat-label>
              <input type="email" matInput formControlName="password">
            </mat-form-field>
            
            <div class="continue-div" routerLink="/home"><button class="continue-button">Continue</button></div>

          </form>
        </div>
        <div id="reg">Don't have a account? <span>Register</span> </div>
      </div>
      
    </div>

  </div>

</div>
