<app-header></app-header>
<div>
  <div class="main">
    <!-- <div class="main-two"> -->
      <div class="main-img-div">
        <img src="./assets/img_moduletest_success_illustration 1.png" alt="" />
      </div>
    <!-- </div> -->
    <div class="congrats">Congratulations!</div>
    <div class="you-have">
      You have completed <span class="leran-figma">Chapter 3 - Setting up a new project from Course </span>: Learn
        Figma   - UI/UX Design Essential Training
    </div>
    <div class="resulr" routerLink="/result">Result</div>
  </div>
</div>
