.main {
  width: 60%;
  margin: auto;
  /* border: 1px solid red; */
  height: auto;
  min-width: 780px;
  max-width: 1120px;
}
.main-two {
  width: 326px;
  margin: auto;
}
.main-img-div {
  display: flex;
  align-items: center;
  width: 362px;
  padding-top: 70px;
}
.main-img-div img {
  width: 100%;
}
.congrats {
  text-align: center;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 60px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 35px;
}
.you-have {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #7a7a7a;
  width: 534px;
  margin: auto;
}
.leran-figma{
  color: #7a7a7a;
  font-weight: 600;
}
.resulr {
  text-align: center;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #ee5c4d;
  margin-top: 10px;
}
